<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
     <link rel="icon" href="images/logofav1.png" type="image/gif">
	
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="Sandeep/Rajyavardhan" content="DTU Times" />
	<meta property="fb:pages" content="145561028808040" />
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111767284-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111767284-1');
</script>
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="css/style.css" type="text/css" />
	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<!--<link rel="stylesheet" href="css/onepage.css" type="text/css" />-->
	<link rel="stylesheet" href="css/writer.css" type="text/css" />
	<!-- / -->

	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/et-line.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />

	<!-- Writer Demo Specific Stylesheet -->
	<link rel="stylesheet" href="css/css/colors.css" type="text/css" />
	<link rel="stylesheet" href="css/css/fonts.css" type="text/css" />
	<!-- / -->

	<link rel="stylesheet" href="css/responsive.css" type="text/css" />

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title>Editions | DTUTimes</title>

</head>

<body class="sticky-footer stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
			<!-- #header end -->	
			<header id="header" class="dark full-header sticky">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.ejs" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="images/dtulog.png" alt="DTU Times Logo"></a>
						
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
				<nav id="primary-menu">

						<ul>
							<li><a href="index.ejs"><div>Home</div></a>
							</li>
								
							<li class="mega-menu"><a href="about.ejs"><div>About Us</div></a>
                            </li>
								
				            <li class="mega-menu"><a href="editions.ejs"><div>Editions</div></a>
						    </li>
							                            <li><a href="blog.ejs"><div>Blog</div></a>
							</li>
				            
				            <li><a href="gallery.ejs"><div>Gallery</div></a>
							</li>
						    				
							<li><a href="team.ejs"><div>Team</div></a>
							</li>
                            <li><a href="dtu%20contact.ejs"><div>Contact Us</div></a>
							</li>                        

				        </ul>

						

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->

		<!-- #header end -->




	<!-- #header end -->

		<!-- Slider
		============================================= -->
		<section id="slider" class="clearfix" style="background:#1E232A; height: 800px;">
			<div class="move-bg" style="background: url('images/back.jpg') center center no-repeat; background-size: cover;"></div>
			
			
				<div class="vertical-middle ignore-header" style="z-index: 3;">
				<div class="container dark clearfix">
					<div class="row clearfix">
						<div class="col-md-6 col-md-offset-1 col-sm-8" data-lightbox="gallery">
							<a href="images/40.jpg" data-lightbox="gallery-item" class="slider-book-img" data-animate="fadeInUp"><img src="images/40.jpg" alt=""></a>
							<a href="images/39.jpg" data-lightbox="gallery-item" class="slider-book-img" data-animate="fadeInUp" data-delay="300"><img src="images/39.jpg" alt=""></a>
							<div class="emphasis-title bottommargin-sm">
								<h1 class="400" data-animate="fadeInUp" data-delay="600">Read the Latest Print Editions by<br><span><em>DTU Times</em></span>.</h1>
							</div>
							<a data-animate="fadeIn" href="#content" style="transition-duration: 5s" class="button button-large button-border button-white button-light button-rounded capitalize notopmargin"><span>Read them all</span></a><br class="hidden-lg hidden-md">
							
						</div>
					</div>
				</div>
			</div>

			
			
			
			
			
			
			
		
			<!-- Slider Video Overlay -->
			<div class="video-wrap" style="z-index: 2; height: 800px; position: absolute; left: 0; bottom: 0;">
				<div class="video-overlay" style="background: -moz-linear-gradient(top,  rgba(30,35,42,0) 21%, rgba(30,35,42,0) 66%, rgba(30,35,42,1) 100%); background: -webkit-linear-gradient(top,  rgba(30,35,42,0) 21%,rgba(30,35,42,0) 66%,rgba(30,35,42,1) 100%); background: linear-gradient(to bottom,  rgba(30,35,42,0) 21%,rgba(30,35,42,0) 66%,rgba(30,35,42,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e232a', endColorstr='#1e232a',GradientType=0 );">
				</div>
			</div>
		</section>


		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap nobottompadding" style="background-color: #1E232A;">

				<!-- Latest All Books
				============================================= -->
				<div class="section nopadding nomargin" style="background: url('images/edition_back.jpg') center center no-repeat; background-size: cover;">

					<div class="container clearfix">

						
						<div class="clear topmargin-sm bottommargin-lg"></div>

						<div class="row clearfix">
							<div class="col-md-6">
								<div class="heading-block dark tleft nobottomborder">
									<h3 class="nott t400 ls0" style="font-size: 36px;"><span>Latest Editions</span></h3>
								</div>
								
							</div>
						</div>

						<div id="portfolio" class="portfolio grid-container portfolio-3 portfolio-masonry clearfix">
                            <div class="portfolio-item">
								<div class="book-wrap">
									<div class="book-card">
										<a href="ajax/book-pagec40.ejs" class="item-quick-view book-image" data-lightbox="ajax"><img src="images/40.jpg" alt="Book Image"></a>
										<div class="book-detail">
											<h2 class="book-title"><a>Edition 40</a></h2>
											<small class="book-category"><a href="edition39.pdf">Aug'17-Oct'17</a></small>
											<div class="button button-white button-light capitalize button-circle"><i class="icon-line-zoom-in"></i><span>view the edtion</span></div>
										</div>
									</div>
								</div>
							</div>
                            
                            
							<div class="portfolio-item">
								<div class="book-wrap">
									<div class="book-card">
										<a href="ajax/book-pagec39.ejs" class="item-quick-view book-image" data-lightbox="ajax"><img src="images/39.jpg" alt="Book Image"></a>
										<div class="book-detail">
											<h2 class="book-title"><a>Edition 39</a></h2>
											<small class="book-category"><a href="edition39.pdf">May'17-July'17</a></small>
											<div class="button button-white button-light capitalize button-circle"><i class="icon-line-zoom-in"></i><span>view the edtion</span></div>
										</div>
									</div>
								</div>
							</div>
							<div class="portfolio-item">
								<div class="book-wrap">
									<div class="book-card">
										<a href="ajax/book-pagec38.ejs" class="item-quick-view book-image" data-lightbox="ajax"><img src="images/38.jpg" alt="Book Image"></a>
										<div class="book-detail">
											<h2 class="book-title"><a href="#">Edition 38</a></h2>
																						<small class="book-category"><a href="edition39.pdf">Mar'17-May'17</a></small>
											<div class="button button-white button-light capitalize button-circle"><i class="icon-line-zoom-in"></i><span>view the edtion</span></div>
										</div>
									</div>
								</div>
							</div>

							

							<div class="portfolio-item">
								<div class="book-wrap">
									<div class="book-card">
										<a href="ajax/book-pagec36.ejs" class="item-quick-view book-image" data-lightbox="ajax"><img src="images/36.jpg" alt="Book Image"></a>
										<div class="book-detail">
											<h2 class="book-title"><a href="#">Edition 36</a></h2>
																						<small class="book-category"><a href="edition39.pdf">Oct’16-Nov’16</a></small>
											<div class="button button-white button-light capitalize button-circle"><i class="icon-line-zoom-in"></i><span>view the edtion</span></div>
										</div>
									</div>
								</div>
							</div>
							
														<div class="portfolio-item">
								<div class="book-wrap">
									<div class="book-card">
										<a href="ajax/book-pagec37.ejs" class="item-quick-view book-image" data-lightbox="ajax"><img src="images/37.jpg" alt="Book Image"></a>
										<div class="book-detail">
											<h2 class="book-title"><a href="#">Edition 37</a></h2>
																						<small class="book-category"><a href="edition39.pdf">Nov‘16-Feb‘17</a></small>
											<div class="button button-white button-light capitalize button-circle"><i class="icon-line-zoom-in"></i><span>view the edtion</span></div>
										</div>
									</div>
								</div>
							</div>
							<div class="portfolio-item">
								<div class="book-wrap">
									<div class="book-card">
										<a href="ajax/book-pagec35.ejs" class="item-quick-view book-image" data-lightbox="ajax"><img src="images/35.jpg" alt="Book Image"></a>
										<div class="book-detail">
											<h2 class="book-title"><a href="#">Edition 35</a></h2>
											<small class="book-category"><a href="edition39.pdf">Aug'16-Sept'16</a></small>
											<div class="button button-white button-light capitalize button-circle"><i class="icon-line-zoom-in"></i><span>view the edtion</span></div>
										</div>
									</div>
								</div>
							</div>
			
						
					
						</div>

							<div class="line "></div>
		
			
									<h3 class="center"><span>Archive</span></h3>
                   
						
						
				    <div class="container">
					<div id="oc-portfolio" class="owl-carousel portfolio-carousel carousel-widget" data-margin="20" data-loop="false" data-nav="true" data-pagi="true" data-items-xxs="1" data-items-xs="2" data-items-sm="3" data-items-md="3" data-items-lg="4">
						
						                    <div class="oc-item" >
						<a href="editions.ejs">
					<div class="entry clearfix">
						<div class="book-wrap">
									<div class="book-card">
										<a href="ajax/book-pagec34.ejs" class="item-quick-view book-image" data-lightbox="ajax"><img src="images/editions/34.jpg" alt="Book Image"></a>
										<div class="book-detail">
											<h2 class="book-title"><a>Edition 34</a></h2>
											<div class="button button-white button-light capitalize button-circle"><i class="icon-line-zoom-in"></i><span>view the edtion</span></div>
										</div>
									</div>
								</div>
					</div>
                            </a>
						</div>
						
						
						
						<div class="oc-item" >
						
						
					
						
					<div class="entry clearfix">
						<div class="book-wrap">
									<div class="book-card">
										<a href="ajax/book-pagec33.ejs" class="item-quick-view book-image" data-lightbox="ajax"><img src="images/editions/33.jpeg" alt="Book Image"></a>
										<div class="book-detail">
											<h2 class="book-title"><a>Edition 33</a></h2>
											<div class="button button-white button-light capitalize button-circle"><i class="icon-line-zoom-in"></i><span>view the edtion</span></div>
										</div>
									</div>
								</div>
					</div>
                           
						</div>
                       
                    
                    
                    <div class="oc-item" >
						<a href="editions.ejs">
					<div class="entry clearfix">
						<div class="book-wrap">
									<div class="book-card">
										<a href="ajax/book-pagec32.ejs" class="item-quick-view book-image" data-lightbox="ajax"><img src="images/editions/32.jpeg" alt="Book Image"></a>
										<div class="book-detail">
											<h2 class="book-title"><a>Edition 32</a></h2>
											<div class="button button-white button-light capitalize button-circle"><i class="icon-line-zoom-in"></i><span>view the edtion</span></div>
										</div>
									</div>
								</div>
					</div>
                            </a>
						</div>
						
						
						<div class="oc-item" >
						<a href="editions.ejs">
					<div class="entry clearfix">
						<div class="book-wrap">
									<div class="book-card">
										<a href="ajax/book-pagec31.ejs" class="item-quick-view book-image" data-lightbox="ajax"><img src="images/editions/31.jpg" alt="Book Image"></a>
										<div class="book-detail">
											<h2 class="book-title"><a>Edition 31</a></h2>
											<div class="button button-white button-light capitalize button-circle"><i class="icon-line-zoom-in"></i><span>view the edtion</span></div>
										</div>
									</div>
								</div>
					</div>
                            </a>
						</div><div class="oc-item" >
						<a href="editions.ejs">
					<div class="entry clearfix">
						<div class="book-wrap">
									<div class="book-card">
										<a href="ajax/book-pagec30.ejs" class="item-quick-view book-image" data-lightbox="ajax"><img src="images/editions/30.jpg" alt="Book Image"></a>
										<div class="book-detail">
											<h2 class="book-title"><a>Edition 30</a></h2>
											<div class="button button-white button-light capitalize button-circle"><i class="icon-line-zoom-in"></i><span>view the edtion</span></div>
										</div>
									</div>
								</div>
					</div>
                            </a>
						</div>
						<div class="oc-item" >
					
					<div class="entry clearfix">
						<div class="book-wrap">
									<div class="book-card">
										<a href="ajax/book-pagec29.ejs" class="item-quick-view book-image" data-lightbox="ajax"><img src="images/editions/29.jpg" alt="Book Image"></a>
										<div class="book-detail">
											<h2 class="book-title"><a>Edition 29</a></h2>
											<div class="button button-white button-light capitalize button-circle"><i class="icon-line-zoom-in"></i><span>view the edtion</span></div>
										</div>
									</div>
								</div>
					</div>
						</div>
                    
                    
                    <div class="oc-item" >
						<a href="editions.ejs">
					<div class="entry clearfix">
						<div class="book-wrap">
									<div class="book-card">
										<a href="ajax/book-pagec28.ejs" class="item-quick-view book-image" data-lightbox="ajax"><img src="images/editions/28.jpg" alt="Book Image"></a>
										<div class="book-detail">
											<h2 class="book-title"><a>Edition 28</a></h2>
											<div class="button button-white button-light capitalize button-circle"><i class="icon-line-zoom-in"></i><span>view the edtion</span></div>
										</div>
									</div>
								</div>
					</div>
                            </a>
						</div>
                   
                   
                   <div class="oc-item" >
						<a href="editions.ejs">
					<div class="entry clearfix">
						<div class="book-wrap">
									<div class="book-card">
										<a href="ajax/book-pagec27.ejs" class="item-quick-view book-image" data-lightbox="ajax"><img src="images/editions/27.jpg" alt="Book Image"></a>
										<div class="book-detail">
											<h2 class="book-title"><a>Edition 27</a></h2>
											<div class="button button-white button-light capitalize button-circle"><i class="icon-line-zoom-in"></i><span>view the edtion</span></div>
										</div>
									</div>
								</div>
					</div>
                            </a>
						</div>
                   
                   
                   <div class="oc-item" >
						<a href="editions.ejs">
					<div class="entry clearfix">
						<div class="book-wrap">
									<div class="book-card">
										<a href="ajax/book-pagec26.ejs" class="item-quick-view book-image" data-lightbox="ajax"><img src="images/editions/26.jpg" alt="Book Image"></a>
										<div class="book-detail">
											<h2 class="book-title"><a>Edition 26</a></h2>
											<div class="button button-white button-light capitalize button-circle"><i class="icon-line-zoom-in"></i><span>view the edtion</span></div>
										</div>
									</div>
								</div>
					</div>
                            </a>
						</div>
                   
                   
                   <div class="oc-item" >
						<a href="editions.ejs">
					<div class="entry clearfix">
						<div class="book-wrap">
									<div class="book-card">
										<a href="ajax/book-pagec25.ejs" class="item-quick-view book-image" data-lightbox="ajax"><img src="images/editions/25.jpeg" alt="Book Image"></a>
										<div class="book-detail">
											<h2 class="book-title"><a>Edition 25</a></h2>
											<div class="button button-white button-light capitalize button-circle"><i class="icon-line-zoom-in"></i><span>view the edtion</span></div>
										</div>
									</div>
								</div>
					</div>
                            </a>
						</div>
                             
                    </div>
        </div>
    			</div>

<br>
					<div class="video-wrap" style=" height: auto; position: absolute; left: 0; bottom: 0; z-index:1;">
						<div class="video-overlay" style="background: -moz-linear-gradient(top,  rgba(30,35,42,1) 21%,, rgba(30,35,42,0) 100%); background: -webkit-linear-gradient(top,  rgba(30,35,42,1) 21%,rgba(30,35,42,0) 100%); background: linear-gradient(to bottom,  rgba(30,35,42,1) 21%,rgba(30,35,42,0) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e232a', endColorstr='#1e232a',GradientType=0 );">
						</div>
					</div>

                </div>

			</div>

		</section><!-- #content end -->

	<footer id="footer"  class="footer">

   
		<div id="copyrights" style="background:black;">
      <div class="footer-content" >
            <div class="container">
                <div class="row">
                <div class="footer-col col-md-3 col-sm-4 about">
                    <div class="footer-col-inner">
                        <h3 style=" color:white">About</h3>
                        <ul>
                            <li><a target="_blank" rel="noopener noreferrer" href="team.ejs"><i class="fa fa-caret-right"></i>Team</a></li>
                            <li><a target="_blank" rel="noopener noreferrer" href="dtu%20contact.ejs"><i class="fa fa-caret-right"></i>Contact us</a></li>
                            <li><a target="_blank" rel="noopener noreferrer" href="blog.ejs" target="_blank"><i class="fa fa-caret-right"></i>Blog</a></li>
                        </ul>
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->
                <div class="footer-col col-md-6 col-sm-8 newsletter">
                    <div class="footer-col-inner">
                        <h3 style=" color:white">Connect with us</h3>
                         <div class="fb-page fb_iframe_widget" data-href="https://www.facebook.com/dtutimes" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true" width="500" height="70" fb-xfbml-state="rendered" fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=&amp;container_width=525&amp;height=70&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fdtutimes&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;show_posts=true&amp;small_header=false&amp;width=500"><span style="vertical-align: bottom; width: 500px; height: 130px;"><iframe name="fe688d5ca8efe8" width="500px" height="70px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:page Facebook Social Plugin" src="https://www.facebook.com/v2.3/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FhsBwMj6iLmk.js%3Fversion%3D42%23cb%3Df12117d65227ca8%26domain%3Ddtutimes.dtu.ac.in%26origin%3Dhttp%253A%252F%252Fdtutimes.dtu.ac.in%252Ff28a46f0a178c94%26relation%3Dparent.parent&amp;container_width=525&amp;height=70&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fdtutimes&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;show_posts=true&amp;small_header=false&amp;width=500" style="border: none; visibility: visible; width: 500px; height: 130px;" class=""></iframe></span></div>
                	
                        
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col--> 
                <div class="footer-col col-md-3 col-sm-12 contact">
                    <div class="footer-col-inner">
                        <h3 style=" color:white">Contact us</h3>
                        <div class="row">
                            <p class="email col-md-12 col-sm-4"><i class="fa fa-envelope"></i><a href="mailto:dtutimes@dtu.ac.in">dtutimes@dtu.ac.in</a></p>  
                        </div> 
                    </div><!--//footer-col-inner-->            
                </div><!--//foooter-col-->   
                </div>   
            </div>        
        </div><!--//footer-content-->
        <div class="bottom-bar">
            <div class="container">
                <div class="row">
                    <small class="copyright col-md-6 col-sm-12 col-xs-12" style="color:white">Copyright &copy; 2018 DTU Times</small>
                    <ul class="social pull-right col-md-6 col-sm-12 col-xs-12">
                        <li><a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/dtutimes"><i class="fa fa-facebook"></i></a></li>
                    </ul><!--//social-->
                </div><!--//row-->
            </div><!--//container-->
        </div><!--//bottom-bar-->
   

			</div><!-- #copyrights end -->

		</footer>

<div>
	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>
	<script type="text/javascript" src="css/js/hover3d.js" ></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/functions.js"></script>

	<script type="text/javascript">

    


		jQuery(document).ready( function(){

			if( !jQuery('body').hasClass('device-touch') ) {

				var lFollowX = 0,
					lFollowY = 0,
					x = 0,
					y = 0,
					friction = 1 / 30;

				function moveBackground() {
					x += (lFollowX - x) * friction;
					y += (lFollowY - y) * friction;

					translate = 'translate(' + x + 'px, ' + y + 'px) scale(1.1)';

					jQuery('.move-bg').css({
						'-webit-transform': translate,
						'-moz-transform': translate,
						'transform': translate
					});

					window.requestAnimationFrame(moveBackground);
				}

				jQuery(window).on('mousemove click', function(e) {

					var lMouseX = Math.max(-100, Math.min(100, jQuery(window).width() / 2 - e.clientX));
					var lMouseY = Math.max(-100, Math.min(100, jQuery(window).height() / 2 - e.clientY));
					lFollowX = (10 * lMouseX) / 100; // 100 : 12 = lMouxeX : lFollow
					lFollowY = (10 * lMouseY) / 100;

				});

				moveBackground();

				jQuery(".book-wrap").hover3d({
					selector: ".book-card",
					shine: false,
				});

			}

		});

	</script>

</body>
</html>