<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <link rel="icon" href="images/logofav1.png" type="image/gif">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="Sandeep/Rajyavardhan" content="DTU Times" />
	<meta property="fb:pages" content="145561028808040" />
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111767284-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111767284-1');
</script>

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Poppins:300,400,400italic,500,600,700" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="css/style.css" type="text/css" />
	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/swiper.css" type="text/css" />

	<!-- Photography Specific Stylesheet -->
	<link rel="stylesheet" href="css/photography.css" type="text/css" />
	<link rel="stylesheet" href="css/photography-addons.css" type="text/css" />
	<!-- / -->

	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/et-line.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="css/phot%20fonts.css" type="text/css" />

	<link rel="stylesheet" href="css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<link rel="stylesheet" href="css/colors.php?color=c85e51" type="text/css" />

	<!-- Document Title
	============================================= -->
	<title>DTU Times Gallery</title>

</head>


<body class="stretched ">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

	
		<!-- Header
		============================================= -->
			<header id="header" class="dark full-header sticky">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.ejs" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="images/dtulogo.png" alt="DTU Times Logo"></a>
						
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
			<nav id="primary-menu">

						<ul>
							<li><a href="index.ejs"><div>Home</div></a>
							</li>
								
							<li class="mega-menu"><a href="about.ejs"><div>About Us</div></a>
                            </li>
								
				            <li class="mega-menu"><a href="editions.ejs"><div>Editions</div></a>
						    </li>
							                            <li><a href="blog.ejs"><div>Blog</div></a>
							</li>
				            
				            <li><a href="gallery.ejs"><div>Gallery</div></a>
							</li>
						    				
							<li><a href="team.ejs"><div>Team</div></a>
							</li>
                            
                            <li><a href="dtu%20contact.ejs"><div>Contact Us</div></a>
							</li>
                                                    

				        </ul>
						

					</nav><!-- #primary-menu end -->
		</div>

			</div>

		</header><!-- #header end -->

		<!-- Slider
		============================================= -->
		<section id="slider" class="swiper_wrapper full-screen clearfix" data-loop="true" data-speed="1200" data-autoplay="5000">

			<div class="swiper-container swiper-parent">
				<div class="swiper-wrapper">
					<div class="swiper-slide dark" style="background-image: url('images/gallery/sodtu/1.jpg');">
						<div class="container clearfix">
							<div class="slider-text">
								<h3>The French Connection</h3>
								<span></span>
							</div>
						</div>
					</div>
					<div class="swiper-slide dark" style="background-image: url('images/gallery/sodtu/14.jpg');">
						<div class="container clearfix">
							<div class="slider-text">
								<h3>The Mithai Trick</h3>
								<span></span>
							</div>
						</div>
					</div>
					<div class="swiper-slide dark" style="background-image: url('images/gallery/sodtu/3.jpg')">
						<div class="container clearfix">
							<div class="slider-text">
								<h3>One for the team</h3>
								<span></span>
							</div>
						</div>
					</div>
					<div class="swiper-slide dark" style="background-image: url('images/gallery/sodtu/4.jpg');">
						<div class="container clearfix">
							<div class="slider-text">
								<h3>The Hostel Connect</h3>
								<span></span>
							</div>
						</div>
					</div>
					<div class="swiper-slide dark" style="background-image: url('images/gallery/sodtu/13.jpg');">
						<div class="container clearfix">
							<div class="slider-text">
								<h3>The Paneer Runaway</h3>
								<span></span>
							</div>
						</div>
					</div>
					<div class="swiper-slide dark" style="background-image: url('images/gallery/sodtu/9.jpg');">
						<div class="container clearfix">
							<div class="slider-text">
								<h3>What if?</h3>
								<span></span>
							</div>
						</div>
					</div>
				</div>
				<div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
				<div id="slider-arrow-right"><i class="icon-angle-right"></i></div>
				<div id="slide-number"><div id="slide-number-current"></div><span></span><div id="slide-number-total"></div></div>
			</div>

			<a href="#" data-scrollto="#content" data-offset="0" class="dark one-page-arrow"><i class="icon-line-grid"></i></a>

		</section><!-- #Slider End -->

		<!-- Content
		============================================= -->
		<section id="content" class="clearfix">

			<div class="content-wrap">
				<div class="container dark clearfix">
					<div class="heading-block dark noborder">
					    <br>
						<h3 style="text-align:center;">SoDTU</h3>
						<span>A series of posts which captured the memories of the batch of 2017.</span>
					</div>

					<!-- Grid Items
					============================================= -->
					<div class="grid">

						<% for(var i=0; i<galleryData.length; i++) {%>
  
								<div class="grid-item" data-size="1280x853">
										<a href="<%= galleryData[i].url %>" class="img-wrap img-grayscale" data-animate="fadeInUp">
											<img src="<%= galleryData[i].url %>"  />
											<div class="description description-grid">
												<h3><%= galleryData[i].title %></h3>
												<p>
													<%= galleryData[i].biLiner %>
												</p>
												
											</div>
										</a>
									</div>
			
								
							<% }) %>


<!-- 
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/sodtu/1.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/sodtu/1.jpg" alt="img01" />
								<div class="description description-grid">
									<h3>The French Connection</h3>
									<p>"The cricket tournament in IIM Indore has to be our most memorable experience ever! 

We both were looking out for some company after our match and by sheer chance came across the French contingent who had come there under a student exchange program. They couldn’t understand much of what we spoke as they didn’t know English that well. So I said 2-3 lines in French (whatever I knew!), and the girls were highly impressed. I also mentioned a few French cities other than Paris, and the girls were absolutely thrilled! So much that they promised us to show the campus the next morning!

So as it turned out, one of them liked me, but I had prior engagements *winks*. But the girl he liked - she's his girlfriend currently!"
<span></span></p>
									<div class="details">

									</div>
								</div>
							</a>
						</div>



						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/sodtu/2.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/sodtu/2.jpg" alt="img02" />
								<div class="description description-grid">
									<h3>The Bicycle Buddies</h3>
									<p>We had a lot of fun at a cricket series in IIT Kanpur. The campus was huge and we faced a lot of inconvenience in walking around, especially in the night. For the hostellers, cycles were the main vehicle and a few even kept them unlocked always. 

We both wanted to go to a faraway canteen at 3 A.M. So we picked out 2 random cycles to ride - one was unlocked but the other was locked. Then, one fist punch, and it came loose! We continued going all around the campus on those cycles only for the rest of our stay!

Of course, we returned them later! *Sheepishly smile*
</p>
									<div class="details">

									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/sodtu/3.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/sodtu/3.jpg" alt="img03" />
								<div class="description description-grid">
									<h3>One for the team</h3>
									<p>We, bored in our Maths lecture, were giggling and cackling among each other, except one who was genuinely concentrating. The teacher caught us and our studious friend took one for the team. *Rambunctious laughter* </p>
									<div class="details">
									
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/sodtu/4.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/sodtu/4.jpg" alt="img04" />
								<div class="description description-grid">
									<h3>The Hostel Connect</h3>
									<p>"Living together in the hostel results in a bond unseen by the day scholars. If you are lucky enough to find people like these..."
*Loud Aww in the background* 
</p>
									<div class="details">

									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/sodtu/5.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/sodtu/5.jpg" alt="img05" />
								<div class="description description-grid">
									<h3>Swag Hi Jeevan Hai</h3>
									<p>"I went to the Citibank Interview in casuals. The HR didn't find my clothes appropriate."
-Then?
I said, "Sir, this is the sophistication I lack. And what better a person to learn from than a banker." *wink*
Verdict - Selected.
</p>
									<div class="details">
									
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/sodtu/6.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/sodtu/6.jpg" alt="img06" />
								<div class="description description-grid">
									<h3>Diwali Daredevils</h3>
									<p>"During Diwali in our 1st semester, we burst firecrackers outside Physics Lab, and on the MechC terrace!"</p>
									<div class="details">
									
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/sodtu/7.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/sodtu/7.jpg" alt="img07" />
								<div class="description description-grid">
									<h3>The Forest Fire</h3>
									<p>In my pursuit of finding a lost cricket ball in the overgrown grasses of the sports ground, I burnt some grass.
But the fire got big enough to need a Fire Brigade.
What did you do then?
- "Run."
</p>
									<div class="details">
									
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/sodtu/8.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/sodtu/8.jpg" alt="img08" />
								<div class="description description-grid">
									<h3>Fake Confession</h3>
									<p>”Cutiepie, tomorrow I’ll be there near MechC, waiting for you in red”, said the post, tagging him.
“Then 15 of us reached MechC, all in red!”
“Cutiepie- that’s what we still call him."
</p>
									<div class="details">
									
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/sodtu/10.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/sodtu/10.jpg" alt="img09" />
								<div class="description description-grid">
									<h3>Silly Questions</h3>
									<p>"During Engifest 2016, we went around the campus the whole night, then annoyed the guards at 6:00 A.M, and kept on asking them silly questions."
-Like?
“Umm...that's all we remember from that night!”
</p>
									<div class="details">
										
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/sodtu/9.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/sodtu/9.jpg" alt="img10" />
								<div class="description description-grid">
									<h3>What if?</h3>
									<p>The interviewer asked me, “What if six months down the line you start feeling that civil engineering is not your cup of tea?”
"What if I am the best man you have by then?"
-Verdict?
“Joining 6th June.”
</p>
									<div class="details">
									
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/sodtu/11.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/sodtu/11.jpg" alt="img11" />
								<div class="description description-grid">
									<h3>The HR's Curse</h3>
									<p>"We once locked an HR in the washroom."
-Then?
"Abhi tak placement nahi lagi."
#noregrets
</p>
									<div class="details">
									
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/sodtu/12.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/sodtu/12.jpg" alt="img12" />
								<div class="description description-grid">
									<h3>NSIT vs DTU </h3>
									<p>“I applied for an internship from DTU but couldn’t make it through, while I got an internship from NSIT's TnP. In a way, NSIT is really lucky for me.”
-Still DTU?
Of course! NSIT is way too close to my house!
</p>
									<div class="details">
									
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/sodtu/13.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/sodtu/13.jpg" alt="img13" />
								<div class="description description-grid">
									<h3>The Paneer Runaway</h3>
									<p>"Once, we were slapped with a 1000 Rupee bill for a plate of Paneer Tikka! We couldn't pay this much, so we decided to run away. I told one of my friends to start the car’s engine but it stopped just right then."
-Then?
"We couldn't go back, so we took God's name and the engine roared, we kept looking back - but finally, we survived!” *Evil Laughter*
</p>
									<div class="details">
										
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/sodtu/14.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/sodtu/14.jpg" alt="img14" />
								<div class="description description-grid">
									<h3>The Mithai Trick</h3>
									<p>“We once added a professor to our class WhatsApp group and removed him after about a minute of incivility." * winks *
-Then?
“We took a box of mithai to his office the next day. Boy, mithai does do wonders!”
</p>
									<div class="details">
										
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/sodtu/15.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/sodtu/15.jpg" alt="img15" />
								<div class="description description-grid">
									<h3>Pratibimb</h3>
									<p>We had an imposing play, 'Pehchan Kaun', which used to get great audience response but no wins. So we resolved to change this trend. We came up with a new concept, a new play, 'Meherbaani'. We had to perform in Thapar. I couldn’t join the team. After the results were out and I called, everybody was crying. I knew we had won. They cried there and I got emotional here in my room.</p>
									<div class="details">
									
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/sodtu/16.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/sodtu/16.jpg" alt="img16" />
								<div class="description description-grid">
									<h3>The Mysterious Case of Hampoo</h3>
									<p>Life lesson: Embarrassing stuff spreads like wildfire in College. 
My teddy bear's name was Hampoo, which was also part of my e-mail address. So someone secretly created a Facebook account for the soft toy. I still don't know who the creator is!... </p>
									<div class="details">
									
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/sodtu/17.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/sodtu/17.jpg" alt="img17" />
								<div class="description description-grid">
									<h3>Placed</h3>
									<p>The interviewer asked me," Where do you see yourself in our firm in the next three to five years?" 
"I don't see myself in your firm in the next three to five years." 
-What?!
"I see myself in a cockpit of a Boeing or an Airbus flying at a height of thirty thousand feet burning jet fuel for a living."
- Verdict?
"Beginning work at their office this summer."
</p>
									<div class="details">
								
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/sodtu/18.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/sodtu/18.jpg" alt="img18" />
								<div class="description description-grid">
									<h3>Engineers to the Rescue!</h3>
									<p>“Fifteen minutes before a placement test, the server of the Computer Centre stopped working, with about 100 students present. The HR was infuriated!”
-Then?
“We built a local server using a borrowed machine from the ECE department, and the test commenced with a delay of only 15 minutes. I could not have been more relieved!”
</p>
									<div class="details">
									
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/sodtu/19.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/sodtu/19.jpg" alt="img19" />
								<div class="description description-grid">
									<h3>The Gamers of DTU</h3>
									<p>From studying six days prior to the exam at school to lazily studying six hours before the exams (after six hours of playing Mini Militia and Fun Run) now, we have come a long way!</p>

								</div>
							</a>
						</div> -->





					</div>
					<!-- /grid -->
					<div class="preview">
						<button class="action action-close"><i class="icon-line2-close"></i><span class="text-hidden">Close</span></button>
						<div class="description description-preview"></div>
					</div>
				</div>

				<div class="clear"></div>



			</div>

		</section><!-- #content end -->

        	<section id="content" class="clearfix">

			<div class="content-wrap">


				<div class="clear"></div>


				<div class="clear"></div>

				<!-- Album Area
				============================================= -->
				<div class="section nobg footer-stick clearfix">
					<div class="container clearfix">
						<div class="heading-block dark center noborder">
							<h3 class="ls1">Albums</h3>
							<span></span>
						</div>
						<div class="row dark clearfix">
							
							<div class="col-sm-4 center">
								<a href="gallery fodtu.ejs">
									<div style="margin: 0 auto;max-width: 235px; padding: 25px; background: url('images/gallery/thumbnails/album-bg.svg') no-repeat center center; background-size: 100%;">
										<img src="images/gallery/thumbnails/6.jpg" alt="img02" style="" />
									</div>
									<h5 class="ls1 t400">Fucchas Of DTU</h5>
								</a>
							</div>
							<div class="col-sm-4 center">
								<a href="gallery codtu.ejs">
									<div style="margin: 0 auto;max-width: 235px; padding: 25px; background: url('images/gallery/thumbnails/album-bg.svg') no-repeat center center; background-size: 100%;">
										<img src="images/gallery/thumbnails/3.jpg" alt="img03" style="" />
									</div>
									<h5 class="ls1 t400">DTU Campus</h5>
								</a>
							</div>
							<div class="col-sm-4 center">
								<a href="gallery fest.ejs">
									<div style="margin: 0 auto;max-width: 235px; padding: 25px; background: url('images/gallery/thumbnails/album-bg.svg') no-repeat center center; background-size: 100%;">
										<img src="images/gallery/thumbnails/2.jpg" alt="img04" style="" />
									</div>
									<h5 class="ls1 t400">Fests</h5>
								</a>
							</div>
							<div class="col-sm-4 center topmargin-sm">
								<a href="gallery godtu.ejs">
									<div style="margin: 0 auto;max-width: 235px; padding: 25px; background: url('images/gallery/thumbnails/album-bg.svg') no-repeat center center; background-size: 100%;">
										<img src="images/gallery/thumbnails/3_1.jpg" alt="img05" style="" />
									</div>
									<h5 class="ls1 t400">Guests</h5>
								</a>
							</div>
							<div class="col-sm-4 center topmargin-sm">
								<a href="gallery recent.ejs">
									<div style="margin: 0 auto;max-width: 235px; padding: 25px; background: url('images/gallery/thumbnails/album-bg.svg') no-repeat center center; background-size: 100%;">
										<img src="images/gallery/thumbnails/15.jpg" alt="img06" style="" />
									</div>
									<h5 class="ls1 t400">Recent Activities</h5>
								</a>
							</div>
							

						</div>
					</div>
				</div>
			</div>

		</section><!-- #content end -->




		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark noborder clearfix" style="background-color: #282828">

			<!-- Copyrights
			============================================= -->
			<div id="copyrights" class="nobg">

				<div class="container clearfix">

					<div class="col_full center nobottommargin topmargin-sm">
						&copy; DTU Times 2017. All Rights Reserved.<br><br>
						<a href="http://facebook.com/dtutimes" target="_blank" class="social-icon inline-block si-small si-borderless si-rounded si-facebook">
							<i class="icon-facebook"></i>
							<i class="icon-facebook"></i>
						</a>
						<a href="http://twitter.com/__semicolon" target="_blank" class="social-icon inline-block si-small si-borderless si-rounded si-twitter">
							<i class="icon-twitter"></i>
							<i class="icon-twitter"></i>
						</a>
						<a href="http://instagram.com/dtu_times" target="_blank" class="social-icon inline-block si-small si-borderless si-rounded si-instagram">
							<i class="icon-instagram"></i>
							<i class="icon-instagram"></i>
						</a>
						<a href="mailto:dtutimes@dtu.ac.in" class="social-icon inline-block si-small si-borderless si-rounded si-gplus">
							<i class="icon-envelope2"></i>
							<i class="icon-envelope2"></i>
						</a>
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>
	<script src="js/photography-addons.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/functions.js"></script>

	<script>


        
		(function() {
			var support = { transitions: Modernizr.csstransitions },
				// transition end event name
				transEndEventNames = { 'WebkitTransition': 'webkitTransitionEnd', 'MozTransition': 'transitionend', 'OTransition': 'oTransitionEnd', 'msTransition': 'MSTransitionEnd', 'transition': 'transitionend' },
				transEndEventName = transEndEventNames[ Modernizr.prefixed( 'transition' ) ],
				onEndTransition = function( el, callback ) {
					var onEndCallbackFn = function( ev ) {
						if( support.transitions ) {
							if( ev.target != this ) return;
							this.removeEventListener( transEndEventName, onEndCallbackFn );
						}
						if( callback && typeof callback === 'function' ) { callback.call(this); }
					};
					if( support.transitions ) {
						el.addEventListener( transEndEventName, onEndCallbackFn );
					}
					else {
						onEndCallbackFn();
					}
				};

			new GridFx(document.querySelector('.grid'), {
				imgPosition : {
					x : -0.5,
					y : 1
				},
				onOpenItem : function(instance, item) {
					instance.items.forEach(function(el) {
						if(item != el) {
							var delay = Math.floor(Math.random() * 50);
							el.style.WebkitTransition = 'opacity .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1), -webkit-transform .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1)';
							el.style.transition = 'opacity .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1), transform .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1)';
							el.style.WebkitTransform = 'scale3d(0.1,0.1,1)';
							el.style.transform = 'scale3d(0.1,0.1,1)';
							el.style.opacity = 0;
						}
					});
				},
				onCloseItem : function(instance, item) {
					instance.items.forEach(function(el) {
						if(item != el) {
							el.style.WebkitTransition = 'opacity .4s, -webkit-transform .4s';
							el.style.transition = 'opacity .4s, transform .4s';
							el.style.WebkitTransform = 'scale3d(1,1,1)';
							el.style.transform = 'scale3d(1,1,1)';
							el.style.opacity = 1;

							onEndTransition(el, function() {
								el.style.transition = 'none';
								el.style.WebkitTransform = 'none';
							});
						}
					});
				}
			});
		})();

		jQuery(document).ready(function($) {
			var swiperSlider = $('.swiper-parent')[0].swiper;
			swiperSlider.enableKeyboardControl();
		});

	</script>

</body>
</html>