<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <title>Document</title>
</head>
<body>
<div class="container">
<form action="/gallery/upload/" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="category">Category</label>
        <input type="text" class="form-control" id="category" name="category" placeholder="Image Category">
    </div>

    <div class="form-group">
        <label for="image">Upload Image</label>
        <input type="file" class="form-control-file" name="image_upload" id="exampleFormControlFile1">
    </div>



    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Image Title">
    </div>
    <div class="form-group">
        <label for="article">Article</label>
        <input type="text" class="form-control" id="article" name="article" placeholder="article">
    </div>

    <div class="form-group">
        <label for="blog">Blog</label>
        <input type="text" class="form-control" id="blog" name="blog" placeholder="Blog URL">
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>

</form>
</div>

</body>
</html>