<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <link rel="icon" href="images/logofav1.png" type="image/gif">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="Sandeep/Rajyavardhan" content="DTU Times" />
	<meta property="fb:pages" content="145561028808040" />
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111767284-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111767284-1');
</script>
	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Poppins:300,400,400italic,500,600,700" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="css/style.css" type="text/css" />
	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/swiper.css" type="text/css" />

	<!-- Photography Specific Stylesheet -->
	<link rel="stylesheet" href="css/photography.css" type="text/css" />
	<link rel="stylesheet" href="css/photography-addons.css" type="text/css" />
	<!-- / -->

	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/et-line.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="css/phot%20fonts.css" type="text/css" />

	<link rel="stylesheet" href="css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<link rel="stylesheet" href="css/colors.php?color=c85e51" type="text/css" />

	<!-- Document Title
	============================================= -->
	<title>DTU Times Gallery</title>

</head>


<body class="stretched ">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

	
		<!-- Header
		============================================= -->
			<header id="header" class="dark full-header sticky">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.ejs" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="images/dtulogo.png" alt="DTU Times Logo"></a>
						
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
				<nav id="primary-menu">

						<ul>
							<li><a href="index.ejs"><div>Home</div></a>
							</li>
								
							<li class="mega-menu"><a href="about.ejs"><div>About Us</div></a>
                            </li>
								
				            <li class="mega-menu"><a href="editions.ejs"><div>Editions</div></a>
						    </li>
							                            <li><a href="blog.ejs"><div>Blog</div></a>
							</li>
				            
				            <li><a href="gallery.ejs"><div>Gallery</div></a>
							</li>
						    				
							<li><a href="team.ejs"><div>Team</div></a>
							</li>
                                <li><a href="dtu%20contact.ejs"><div>Contact Us</div></a>
							</li>
                                                    

				        </ul>

						

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->

		<!-- Slider
		============================================= -->
		<section id="slider" class="swiper_wrapper full-screen clearfix" data-loop="true" data-speed="1200" data-autoplay="5000">

			<div class="swiper-container swiper-parent">
				<div class="swiper-wrapper">
					<div class="swiper-slide dark" style="background-image: url('images/gallery/festdtu/ted/1.jpg');">
						<div class="container clearfix">
							<div class="slider-text">
								<h3>Premlata Agarwal - Padma Shri awardee. The first Indian woman to scale the Seven Summits, the seven highest continental peaks of the world.

</h3>
								<span></span>
							</div>
						</div>
					</div>
					<div class="swiper-slide dark" style="background-image: url('images/gallery/festdtu/ted/14.jpg');">
						<div class="container clearfix">
							<div class="slider-text">
								<h3>Let me colour you in the hues of my music.
</h3>
								<span></span>
							</div>
						</div>
					</div>
					<div class="swiper-slide dark" style="background-image: url('images/gallery/festdtu/ted/3.jpg')">
						<div class="container clearfix">
							<div class="slider-text">
								<h3>Because the world is not a Black & White binary. 
 </h3>
								<span></span>
							</div>
						</div>
					</div>
					<div class="swiper-slide dark" style="background-image: url('images/gallery/festdtu/ted/4.jpg');">
						<div class="container clearfix">
							<div class="slider-text">
								<h3>Rishab Seen - World’s first metal sitarist. 
</h3>
								<span></span>
							</div>
						</div>
					</div>
					<div class="swiper-slide dark" style="background-image: url('images/gallery/festdtu/ted/13.jpg');">
						<div class="container clearfix">
							<div class="slider-text">
								<h3>Mesmerising melodies amidst purple proses. 
</h3>
								<span></span>
							</div>
						</div>
					</div>
					<div class="swiper-slide dark" style="background-image: url('images/gallery/festdtu/ted/9.jpg');">
						<div class="container clearfix">
							<div class="slider-text">
								<h3>Monica Dogra - Relationships in an urban landscape.</h3>
								<span></span>
							</div>
						</div>
					</div>
				</div>
				<div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
				<div id="slider-arrow-right"><i class="icon-angle-right"></i></div>
				<div id="slide-number"><div id="slide-number-current"></div><span></span><div id="slide-number-total"></div></div>
			</div>

			<a href="#" data-scrollto="#content" data-offset="0" class="dark one-page-arrow"><i class="icon-line-grid"></i></a>

		</section><!-- #Slider End -->

		<!-- Content
		============================================= -->
		<section id="content" class="clearfix">

			<div class="content-wrap">
				<div class="container dark clearfix">
					<div class="heading-block dark noborder">
						<h3 style="text-align:center;">TedX DTU 2017</h3>
						<span> In the spirit of “Ideas Worth Spreading”, TEDxDTU organised its annual conference on 18th March ’17. The theme for the event was ‘Because Grey Matters’. The speaker curation consisted of eminent personalities such as Ms. Monica Sharma Dogra, Mr. Tanmoy Chakrabarty, Mr. Rishabh Seen, Ms. Nandini Sundar, Ms. Premlata Agarwal and The Rural Indian Project(TRIP), amongst others, who shared their experiences and ignited new ideas within the minds of the audience. 
</span>
					</div>

					<!-- Grid Items
					============================================= -->
					<div class="grid">
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/festdtu/ted/1.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/festdtu/ted/1.jpg" alt="img01" />
								<div class="description description-grid">
									<h3></h3>
									<p> In the spirit of “Ideas Worth Spreading”, TEDxDTU organised its annual conference on 18th March ’17. The theme for the event was ‘Because Grey Matters’. The speaker curation consisted of eminent personalities such as Ms. Monica Sharma Dogra, Mr. Tanmoy Chakrabarty, Mr. Rishabh Seen, Ms. Nandini Sundar, Ms. Premlata Agarwal and The Rural Indian Project(TRIP), amongst others, who shared their experiences and ignited new ideas within the minds of the audience. 

<span></span></p>
									<div class="details">

									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/festdtu/ted/2.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/festdtu/ted/2.jpg" alt="img02" />
								<div class="description description-grid">
									<h3></h3>
									<p> In the spirit of “Ideas Worth Spreading”, TEDxDTU organised its annual conference on 18th March ’17. The theme for the event was ‘Because Grey Matters’. The speaker curation consisted of eminent personalities such as Ms. Monica Sharma Dogra, Mr. Tanmoy Chakrabarty, Mr. Rishabh Seen, Ms. Nandini Sundar, Ms. Premlata Agarwal and The Rural Indian Project(TRIP), amongst others, who shared their experiences and ignited new ideas within the minds of the audience. 

</p>
									<div class="details">

									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/festdtu/ted/3.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/festdtu/ted/3.jpg" alt="img03" />
								<div class="description description-grid">
									<h3></h3>
									<p> In the spirit of “Ideas Worth Spreading”, TEDxDTU organised its annual conference on 18th March ’17. The theme for the event was ‘Because Grey Matters’. The speaker curation consisted of eminent personalities such as Ms. Monica Sharma Dogra, Mr. Tanmoy Chakrabarty, Mr. Rishabh Seen, Ms. Nandini Sundar, Ms. Premlata Agarwal and The Rural Indian Project(TRIP), amongst others, who shared their experiences and ignited new ideas within the minds of the audience. 
</p>
									<div class="details">
									
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/festdtu/ted/4.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/festdtu/ted/4.jpg" alt="img04" />
								<div class="description description-grid">
									<h3></h3>
									<p> In the spirit of “Ideas Worth Spreading”, TEDxDTU organised its annual conference on 18th March ’17. The theme for the event was ‘Because Grey Matters’. The speaker curation consisted of eminent personalities such as Ms. Monica Sharma Dogra, Mr. Tanmoy Chakrabarty, Mr. Rishabh Seen, Ms. Nandini Sundar, Ms. Premlata Agarwal and The Rural Indian Project(TRIP), amongst others, who shared their experiences and ignited new ideas within the minds of the audience. 

</p>
									<div class="details">

									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/festdtu/ted/5.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/festdtu/ted/5.jpg" alt="img05" />
								<div class="description description-grid">
									<h3></h3>
									<p> In the spirit of “Ideas Worth Spreading”, TEDxDTU organised its annual conference on 18th March ’17. The theme for the event was ‘Because Grey Matters’. The speaker curation consisted of eminent personalities such as Ms. Monica Sharma Dogra, Mr. Tanmoy Chakrabarty, Mr. Rishabh Seen, Ms. Nandini Sundar, Ms. Premlata Agarwal and The Rural Indian Project(TRIP), amongst others, who shared their experiences and ignited new ideas within the minds of the audience. 
.
</p>
									<div class="details">
									
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/festdtu/ted/6.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/festdtu/ted/6.jpg" alt="img06" />
								<div class="description description-grid">
									<h3></h3>
									<p> In the spirit of “Ideas Worth Spreading”, TEDxDTU organised its annual conference on 18th March ’17. The theme for the event was ‘Because Grey Matters’. The speaker curation consisted of eminent personalities such as Ms. Monica Sharma Dogra, Mr. Tanmoy Chakrabarty, Mr. Rishabh Seen, Ms. Nandini Sundar, Ms. Premlata Agarwal and The Rural Indian Project(TRIP), amongst others, who shared their experiences and ignited new ideas within the minds of the audience. 
</p>
									<div class="details">
									
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/festdtu/ted/7.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/festdtu/ted/7.jpg" alt="img07" />
								<div class="description description-grid">
									<h3></h3>
									<p> In the spirit of “Ideas Worth Spreading”, TEDxDTU organised its annual conference on 18th March ’17. The theme for the event was ‘Because Grey Matters’. The speaker curation consisted of eminent personalities such as Ms. Monica Sharma Dogra, Mr. Tanmoy Chakrabarty, Mr. Rishabh Seen, Ms. Nandini Sundar, Ms. Premlata Agarwal and The Rural Indian Project(TRIP), amongst others, who shared their experiences and ignited new ideas within the minds of the audience. 

</p>
									<div class="details">
									
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/festdtu/ted/8.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/festdtu/ted/8.jpg" alt="img08" />
								<div class="description description-grid">
									<h3></h3>
									<p>
</p>
									<div class="details">
									
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/festdtu/ted/10.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/festdtu/ted/10.jpg" alt="img09" />
								<div class="description description-grid">
									<h3></h3>
									<p> In the spirit of “Ideas Worth Spreading”, TEDxDTU organised its annual conference on 18th March ’17. The theme for the event was ‘Because Grey Matters’. The speaker curation consisted of eminent personalities such as Ms. Monica Sharma Dogra, Mr. Tanmoy Chakrabarty, Mr. Rishabh Seen, Ms. Nandini Sundar, Ms. Premlata Agarwal and The Rural Indian Project(TRIP), amongst others, who shared their experiences and ignited new ideas within the minds of the audience. 

</p>
									<div class="details">
										
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/festdtu/ted/9.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/festdtu/ted/9.jpg" alt="img10" />
								<div class="description description-grid">
									<h3></h3>
									<p> In the spirit of “Ideas Worth Spreading”, TEDxDTU organised its annual conference on 18th March ’17. The theme for the event was ‘Because Grey Matters’. The speaker curation consisted of eminent personalities such as Ms. Monica Sharma Dogra, Mr. Tanmoy Chakrabarty, Mr. Rishabh Seen, Ms. Nandini Sundar, Ms. Premlata Agarwal and The Rural Indian Project(TRIP), amongst others, who shared their experiences and ignited new ideas within the minds of the audience. 

</p>
									<div class="details">
									
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/festdtu/ted/11.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/festdtu/ted/11.jpg" alt="img11" />
								<div class="description description-grid">
									<h3></h3>
									<p> In the spirit of “Ideas Worth Spreading”, TEDxDTU organised its annual conference on 18th March ’17. The theme for the event was ‘Because Grey Matters’. The speaker curation consisted of eminent personalities such as Ms. Monica Sharma Dogra, Mr. Tanmoy Chakrabarty, Mr. Rishabh Seen, Ms. Nandini Sundar, Ms. Premlata Agarwal and The Rural Indian Project(TRIP), amongst others, who shared their experiences and ignited new ideas within the minds of the audience. 

</p>
									<div class="details">
									
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/festdtu/ted/12.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/festdtu/ted/12.jpg" alt="img12" />
								<div class="description description-grid">
									<h3> </h3>
									<p> In the spirit of “Ideas Worth Spreading”, TEDxDTU organised its annual conference on 18th March ’17. The theme for the event was ‘Because Grey Matters’. The speaker curation consisted of eminent personalities such as Ms. Monica Sharma Dogra, Mr. Tanmoy Chakrabarty, Mr. Rishabh Seen, Ms. Nandini Sundar, Ms. Premlata Agarwal and The Rural Indian Project(TRIP), amongst others, who shared their experiences and ignited new ideas within the minds of the audience. 

</p>
									<div class="details">
									
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/festdtu/ted/13.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/festdtu/ted/13.jpg" alt="img13" />
								<div class="description description-grid">
									<h3></h3>
									<p> In the spirit of “Ideas Worth Spreading”, TEDxDTU organised its annual conference on 18th March ’17. The theme for the event was ‘Because Grey Matters’. The speaker curation consisted of eminent personalities such as Ms. Monica Sharma Dogra, Mr. Tanmoy Chakrabarty, Mr. Rishabh Seen, Ms. Nandini Sundar, Ms. Premlata Agarwal and The Rural Indian Project(TRIP), amongst others, who shared their experiences and ignited new ideas within the minds of the audience. 

</p>
									<div class="details">
										
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/festdtu/ted/14.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/festdtu/ted/14.jpg" alt="img14" />
								<div class="description description-grid">
									<h3></h3>
									<p> In the spirit of “Ideas Worth Spreading”, TEDxDTU organised its annual conference on 18th March ’17. The theme for the event was ‘Because Grey Matters’. The speaker curation consisted of eminent personalities such as Ms. Monica Sharma Dogra, Mr. Tanmoy Chakrabarty, Mr. Rishabh Seen, Ms. Nandini Sundar, Ms. Premlata Agarwal and The Rural Indian Project(TRIP), amongst others, who shared their experiences and ignited new ideas within the minds of the audience. 

</p>
									<div class="details">
										
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/festdtu/ted/15.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/festdtu/ted/15.jpg" alt="img15" />
								<div class="description description-grid">
									<h3></h3>
									<p> In the spirit of “Ideas Worth Spreading”, TEDxDTU organised its annual conference on 18th March ’17. The theme for the event was ‘Because Grey Matters’. The speaker curation consisted of eminent personalities such as Ms. Monica Sharma Dogra, Mr. Tanmoy Chakrabarty, Mr. Rishabh Seen, Ms. Nandini Sundar, Ms. Premlata Agarwal and The Rural Indian Project(TRIP), amongst others, who shared their experiences and ignited new ideas within the minds of the audience. 
</p>
									<div class="details">
									
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/festdtu/ted/16.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/festdtu/ted/16.jpg" alt="img16" />
								<div class="description description-grid">
									<h3></h3>
									<p> In the spirit of “Ideas Worth Spreading”, TEDxDTU organised its annual conference on 18th March ’17. The theme for the event was ‘Because Grey Matters’. The speaker curation consisted of eminent personalities such as Ms. Monica Sharma Dogra, Mr. Tanmoy Chakrabarty, Mr. Rishabh Seen, Ms. Nandini Sundar, Ms. Premlata Agarwal and The Rural Indian Project(TRIP), amongst others, who shared their experiences and ignited new ideas within the minds of the audience. 
 </p>
									<div class="details">
									
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/festdtu/ted/17.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/festdtu/ted/17.jpg" alt="img17" />
								<div class="description description-grid">
									<h3></h3>
									<p> In the spirit of “Ideas Worth Spreading”, TEDxDTU organised its annual conference on 18th March ’17. The theme for the event was ‘Because Grey Matters’. The speaker curation consisted of eminent personalities such as Ms. Monica Sharma Dogra, Mr. Tanmoy Chakrabarty, Mr. Rishabh Seen, Ms. Nandini Sundar, Ms. Premlata Agarwal and The Rural Indian Project(TRIP), amongst others, who shared their experiences and ignited new ideas within the minds of the audience. 

</p>
									<div class="details">
								
									</div>
								</div>
							</a>
						</div>
												<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/festdtu/ted/18.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/festdtu/ted/18.jpg" alt="img17" />
								<div class="description description-grid">
									<h3></h3>
									<p> In the spirit of “Ideas Worth Spreading”, TEDxDTU organised its annual conference on 18th March ’17. The theme for the event was ‘Because Grey Matters’. The speaker curation consisted of eminent personalities such as Ms. Monica Sharma Dogra, Mr. Tanmoy Chakrabarty, Mr. Rishabh Seen, Ms. Nandini Sundar, Ms. Premlata Agarwal and The Rural Indian Project(TRIP), amongst others, who shared their experiences and ignited new ideas within the minds of the audience. 

</p>
									<div class="details">
								
									</div>
								</div>
							</a>
						</div>
												<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/festdtu/ted/19.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/festdtu/ted/19.jpg" alt="img17" />
								<div class="description description-grid">
									<h3></h3>
									<p> In the spirit of “Ideas Worth Spreading”, TEDxDTU organised its annual conference on 18th March ’17. The theme for the event was ‘Because Grey Matters’. The speaker curation consisted of eminent personalities such as Ms. Monica Sharma Dogra, Mr. Tanmoy Chakrabarty, Mr. Rishabh Seen, Ms. Nandini Sundar, Ms. Premlata Agarwal and The Rural Indian Project(TRIP), amongst others, who shared their experiences and ignited new ideas within the minds of the audience. 

</p>
									<div class="details">
								
									</div>
								</div>
							</a>
						</div>
												<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/festdtu/ted/20.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/festdtu/ted/20.jpg" alt="img17" />
								<div class="description description-grid">
									<h3></h3>
									<p> In the spirit of “Ideas Worth Spreading”, TEDxDTU organised its annual conference on 18th March ’17. The theme for the event was ‘Because Grey Matters’. The speaker curation consisted of eminent personalities such as Ms. Monica Sharma Dogra, Mr. Tanmoy Chakrabarty, Mr. Rishabh Seen, Ms. Nandini Sundar, Ms. Premlata Agarwal and The Rural Indian Project(TRIP), amongst others, who shared their experiences and ignited new ideas within the minds of the audience. 

</p>
									<div class="details">
								
									</div>
								</div>
							</a>
						</div>
												<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/festdtu/ted/21.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/festdtu/ted/21.jpg" alt="img17" />
								<div class="description description-grid">
									<h3></h3>
									<p> In the spirit of “Ideas Worth Spreading”, TEDxDTU organised its annual conference on 18th March ’17. The theme for the event was ‘Because Grey Matters’. The speaker curation consisted of eminent personalities such as Ms. Monica Sharma Dogra, Mr. Tanmoy Chakrabarty, Mr. Rishabh Seen, Ms. Nandini Sundar, Ms. Premlata Agarwal and The Rural Indian Project(TRIP), amongst others, who shared their experiences and ignited new ideas within the minds of the audience. 

</p>
									<div class="details">
								
									</div>
								</div>
							</a>
						</div>
												<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/festdtu/ted/22.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/festdtu/ted/22.jpg" alt="img17" />
								<div class="description description-grid">
									<h3></h3>
									<p> In the spirit of “Ideas Worth Spreading”, TEDxDTU organised its annual conference on 18th March ’17. The theme for the event was ‘Because Grey Matters’. The speaker curation consisted of eminent personalities such as Ms. Monica Sharma Dogra, Mr. Tanmoy Chakrabarty, Mr. Rishabh Seen, Ms. Nandini Sundar, Ms. Premlata Agarwal and The Rural Indian Project(TRIP), amongst others, who shared their experiences and ignited new ideas within the minds of the audience. 

</p>
									<div class="details">
								
									</div>
								</div>
							</a>
						</div>
												<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/festdtu/ted/23.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/festdtu/ted/23.jpg" alt="img17" />
								<div class="description description-grid">
									<h3></h3>
									<p> In the spirit of “Ideas Worth Spreading”, TEDxDTU organised its annual conference on 18th March ’17. The theme for the event was ‘Because Grey Matters’. The speaker curation consisted of eminent personalities such as Ms. Monica Sharma Dogra, Mr. Tanmoy Chakrabarty, Mr. Rishabh Seen, Ms. Nandini Sundar, Ms. Premlata Agarwal and The Rural Indian Project(TRIP), amongst others, who shared their experiences and ignited new ideas within the minds of the audience. 

</p>
									<div class="details">
								
									</div>
								</div>
							</a>
						</div>
												<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/festdtu/ted/24.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/festdtu/ted/24.jpg" alt="img17" />
								<div class="description description-grid">
									<h3></h3>
									<p> In the spirit of “Ideas Worth Spreading”, TEDxDTU organised its annual conference on 18th March ’17. The theme for the event was ‘Because Grey Matters’. The speaker curation consisted of eminent personalities such as Ms. Monica Sharma Dogra, Mr. Tanmoy Chakrabarty, Mr. Rishabh Seen, Ms. Nandini Sundar, Ms. Premlata Agarwal and The Rural Indian Project(TRIP), amongst others, who shared their experiences and ignited new ideas within the minds of the audience. 

</p>
									<div class="details">
								
									</div>
								</div>
							</a>
						</div>
												<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/festdtu/ted/25.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/festdtu/ted/25.jpg" alt="img17" />
								<div class="description description-grid">
									<h3></h3>
									<p> In the spirit of “Ideas Worth Spreading”, TEDxDTU organised its annual conference on 18th March ’17. The theme for the event was ‘Because Grey Matters’. The speaker curation consisted of eminent personalities such as Ms. Monica Sharma Dogra, Mr. Tanmoy Chakrabarty, Mr. Rishabh Seen, Ms. Nandini Sundar, Ms. Premlata Agarwal and The Rural Indian Project(TRIP), amongst others, who shared their experiences and ignited new ideas within the minds of the audience. 

</p>
									<div class="details">
								
									</div>
								</div>
							</a>
						</div>
												<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/festdtu/ted/26.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/festdtu/ted/26.jpg" alt="img17" />
								<div class="description description-grid">
									<h3></h3>
									<p> In the spirit of “Ideas Worth Spreading”, TEDxDTU organised its annual conference on 18th March ’17. The theme for the event was ‘Because Grey Matters’. The speaker curation consisted of eminent personalities such as Ms. Monica Sharma Dogra, Mr. Tanmoy Chakrabarty, Mr. Rishabh Seen, Ms. Nandini Sundar, Ms. Premlata Agarwal and The Rural Indian Project(TRIP), amongst others, who shared their experiences and ignited new ideas within the minds of the audience. 

</p>
									<div class="details">
								
									</div>
								</div>
							</a>
						</div>
												<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/festdtu/ted/27.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/festdtu/ted/27.jpg" alt="img17" />
								<div class="description description-grid">
									<h3></h3>
									<p> In the spirit of “Ideas Worth Spreading”, TEDxDTU organised its annual conference on 18th March ’17. The theme for the event was ‘Because Grey Matters’. The speaker curation consisted of eminent personalities such as Ms. Monica Sharma Dogra, Mr. Tanmoy Chakrabarty, Mr. Rishabh Seen, Ms. Nandini Sundar, Ms. Premlata Agarwal and The Rural Indian Project(TRIP), amongst others, who shared their experiences and ignited new ideas within the minds of the audience. 

</p>
									<div class="details">
								
									</div>
								</div>
							</a>
						</div>
												<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/festdtu/ted/28.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/festdtu/ted/28.jpg" alt="img17" />
								<div class="description description-grid">
									<h3></h3>
									<p> In the spirit of “Ideas Worth Spreading”, TEDxDTU organised its annual conference on 18th March ’17. The theme for the event was ‘Because Grey Matters’. The speaker curation consisted of eminent personalities such as Ms. Monica Sharma Dogra, Mr. Tanmoy Chakrabarty, Mr. Rishabh Seen, Ms. Nandini Sundar, Ms. Premlata Agarwal and The Rural Indian Project(TRIP), amongst others, who shared their experiences and ignited new ideas within the minds of the audience. 

</p>
									<div class="details">
								
									</div>
								</div>
							</a>
						</div>
												<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/festdtu/ted/29.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/festdtu/ted/29.jpg" alt="img17" />
								<div class="description description-grid">
									<h3></h3>
									<p> In the spirit of “Ideas Worth Spreading”, TEDxDTU organised its annual conference on 18th March ’17. The theme for the event was ‘Because Grey Matters’. The speaker curation consisted of eminent personalities such as Ms. Monica Sharma Dogra, Mr. Tanmoy Chakrabarty, Mr. Rishabh Seen, Ms. Nandini Sundar, Ms. Premlata Agarwal and The Rural Indian Project(TRIP), amongst others, who shared their experiences and ignited new ideas within the minds of the audience. 

</p>
									<div class="details">
								
									</div>
								</div>
							</a>
						</div>
												<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/festdtu/ted/30.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/festdtu/ted/30.jpg" alt="img17" />
								<div class="description description-grid">
									<h3></h3>
									<p> In the spirit of “Ideas Worth Spreading”, TEDxDTU organised its annual conference on 18th March ’17. The theme for the event was ‘Because Grey Matters’. The speaker curation consisted of eminent personalities such as Ms. Monica Sharma Dogra, Mr. Tanmoy Chakrabarty, Mr. Rishabh Seen, Ms. Nandini Sundar, Ms. Premlata Agarwal and The Rural Indian Project(TRIP), amongst others, who shared their experiences and ignited new ideas within the minds of the audience. 

</p>
									<div class="details">
								
									</div>
								</div>
							</a>
						</div>
												<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/festdtu/ted/31.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/festdtu/ted/31.jpg" alt="img17" />
								<div class="description description-grid">
									<h3></h3>
									<p> In the spirit of “Ideas Worth Spreading”, TEDxDTU organised its annual conference on 18th March ’17. The theme for the event was ‘Because Grey Matters’. The speaker curation consisted of eminent personalities such as Ms. Monica Sharma Dogra, Mr. Tanmoy Chakrabarty, Mr. Rishabh Seen, Ms. Nandini Sundar, Ms. Premlata Agarwal and The Rural Indian Project(TRIP), amongst others, who shared their experiences and ignited new ideas within the minds of the audience. 

</p>
									<div class="details">
								
									</div>
								</div>
							</a>
						</div>
												<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/festdtu/ted/32.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/festdtu/ted/32.jpg" alt="img17" />
								<div class="description description-grid">
									<h3></h3>
									<p> In the spirit of “Ideas Worth Spreading”, TEDxDTU organised its annual conference on 18th March ’17. The theme for the event was ‘Because Grey Matters’. The speaker curation consisted of eminent personalities such as Ms. Monica Sharma Dogra, Mr. Tanmoy Chakrabarty, Mr. Rishabh Seen, Ms. Nandini Sundar, Ms. Premlata Agarwal and The Rural Indian Project(TRIP), amongst others, who shared their experiences and ignited new ideas within the minds of the audience. 

</p>
									<div class="details">
								
									</div>
								</div>
							</a>
						</div>
												<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/festdtu/ted/33.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/festdtu/ted/33.jpg" alt="img17" />
								<div class="description description-grid">
									<h3></h3>
									<p> In the spirit of “Ideas Worth Spreading”, TEDxDTU organised its annual conference on 18th March ’17. The theme for the event was ‘Because Grey Matters’. The speaker curation consisted of eminent personalities such as Ms. Monica Sharma Dogra, Mr. Tanmoy Chakrabarty, Mr. Rishabh Seen, Ms. Nandini Sundar, Ms. Premlata Agarwal and The Rural Indian Project(TRIP), amongst others, who shared their experiences and ignited new ideas within the minds of the audience. 

</p>
									<div class="details">
								
									</div>
								</div>
							</a>
						</div>
												<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/festdtu/ted/34.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/festdtu/ted/34.jpg" alt="img17" />
								<div class="description description-grid">
									<h3></h3>
									<p> In the spirit of “Ideas Worth Spreading”, TEDxDTU organised its annual conference on 18th March ’17. The theme for the event was ‘Because Grey Matters’. The speaker curation consisted of eminent personalities such as Ms. Monica Sharma Dogra, Mr. Tanmoy Chakrabarty, Mr. Rishabh Seen, Ms. Nandini Sundar, Ms. Premlata Agarwal and The Rural Indian Project(TRIP), amongst others, who shared their experiences and ignited new ideas within the minds of the audience. 

</p>
									<div class="details">
								
									</div>
								</div>
							</a>
						</div>
												<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/festdtu/ted/35.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/festdtu/ted/35.jpg" alt="img17" />
								<div class="description description-grid">
									<h3></h3>
									<p> In the spirit of “Ideas Worth Spreading”, TEDxDTU organised its annual conference on 18th March ’17. The theme for the event was ‘Because Grey Matters’. The speaker curation consisted of eminent personalities such as Ms. Monica Sharma Dogra, Mr. Tanmoy Chakrabarty, Mr. Rishabh Seen, Ms. Nandini Sundar, Ms. Premlata Agarwal and The Rural Indian Project(TRIP), amongst others, who shared their experiences and ignited new ideas within the minds of the audience. 

</p>
									<div class="details">
								
									</div>
								</div>
							</a>
						</div>
												<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/festdtu/ted/36.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/festdtu/ted/36.jpg" alt="img17" />
								<div class="description description-grid">
									<h3></h3>
									<p> In the spirit of “Ideas Worth Spreading”, TEDxDTU organised its annual conference on 18th March ’17. The theme for the event was ‘Because Grey Matters’. The speaker curation consisted of eminent personalities such as Ms. Monica Sharma Dogra, Mr. Tanmoy Chakrabarty, Mr. Rishabh Seen, Ms. Nandini Sundar, Ms. Premlata Agarwal and The Rural Indian Project(TRIP), amongst others, who shared their experiences and ignited new ideas within the minds of the audience. 

</p>
									<div class="details">
								
									</div>
								</div>
							</a>
						</div>
												<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/festdtu/ted/37.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/festdtu/ted/37.jpg" alt="img17" />
								<div class="description description-grid">
									<h3></h3>
									<p> In the spirit of “Ideas Worth Spreading”, TEDxDTU organised its annual conference on 18th March ’17. The theme for the event was ‘Because Grey Matters’. The speaker curation consisted of eminent personalities such as Ms. Monica Sharma Dogra, Mr. Tanmoy Chakrabarty, Mr. Rishabh Seen, Ms. Nandini Sundar, Ms. Premlata Agarwal and The Rural Indian Project(TRIP), amongst others, who shared their experiences and ignited new ideas within the minds of the audience. 

</p>
									<div class="details">
								
									</div>
								</div>
							</a>
						</div>
												<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/festdtu/ted/38.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/festdtu/ted/38.jpg" alt="img17" />
								<div class="description description-grid">
									<h3></h3>
									<p> In the spirit of “Ideas Worth Spreading”, TEDxDTU organised its annual conference on 18th March ’17. The theme for the event was ‘Because Grey Matters’. The speaker curation consisted of eminent personalities such as Ms. Monica Sharma Dogra, Mr. Tanmoy Chakrabarty, Mr. Rishabh Seen, Ms. Nandini Sundar, Ms. Premlata Agarwal and The Rural Indian Project(TRIP), amongst others, who shared their experiences and ignited new ideas within the minds of the audience. 

</p>
									<div class="details">
								
									</div>
								</div>
							</a>
						</div>
												<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/festdtu/ted/39.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/festdtu/ted/39.jpg" alt="img17" />
								<div class="description description-grid">
									<h3></h3>
									<p> In the spirit of “Ideas Worth Spreading”, TEDxDTU organised its annual conference on 18th March ’17. The theme for the event was ‘Because Grey Matters’. The speaker curation consisted of eminent personalities such as Ms. Monica Sharma Dogra, Mr. Tanmoy Chakrabarty, Mr. Rishabh Seen, Ms. Nandini Sundar, Ms. Premlata Agarwal and The Rural Indian Project(TRIP), amongst others, who shared their experiences and ignited new ideas within the minds of the audience. 

</p>
									<div class="details">
								
									</div>
								</div>
							</a>
						</div>
												<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/festdtu/ted/40.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/festdtu/ted/40.jpg" alt="img17" />
								<div class="description description-grid">
									<h3></h3>
									<p> In the spirit of “Ideas Worth Spreading”, TEDxDTU organised its annual conference on 18th March ’17. The theme for the event was ‘Because Grey Matters’. The speaker curation consisted of eminent personalities such as Ms. Monica Sharma Dogra, Mr. Tanmoy Chakrabarty, Mr. Rishabh Seen, Ms. Nandini Sundar, Ms. Premlata Agarwal and The Rural Indian Project(TRIP), amongst others, who shared their experiences and ignited new ideas within the minds of the audience. 

</p>
									<div class="details">
								
									</div>
								</div>
							</a>
						</div>
												<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/festdtu/ted/41.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/festdtu/ted/41.jpg" alt="img17" />
								<div class="description description-grid">
									<h3></h3>
									<p> In the spirit of “Ideas Worth Spreading”, TEDxDTU organised its annual conference on 18th March ’17. The theme for the event was ‘Because Grey Matters’. The speaker curation consisted of eminent personalities such as Ms. Monica Sharma Dogra, Mr. Tanmoy Chakrabarty, Mr. Rishabh Seen, Ms. Nandini Sundar, Ms. Premlata Agarwal and The Rural Indian Project(TRIP), amongst others, who shared their experiences and ignited new ideas within the minds of the audience. 

</p>
									<div class="details">
								
									</div>
								</div>
							</a>
						</div>
												<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/festdtu/ted/42.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/festdtu/ted/42.jpg" alt="img17" />
								<div class="description description-grid">
									<h3></h3>
									<p> In the spirit of “Ideas Worth Spreading”, TEDxDTU organised its annual conference on 18th March ’17. The theme for the event was ‘Because Grey Matters’. The speaker curation consisted of eminent personalities such as Ms. Monica Sharma Dogra, Mr. Tanmoy Chakrabarty, Mr. Rishabh Seen, Ms. Nandini Sundar, Ms. Premlata Agarwal and The Rural Indian Project(TRIP), amongst others, who shared their experiences and ignited new ideas within the minds of the audience. 

</p>
									<div class="details">
								
									</div>
								</div>
							</a>
						</div>
						

					</div>
					<!-- /grid -->
					<div class="preview">
						<button class="action action-close"><i class="icon-line2-close"></i><span class="text-hidden">Close</span></button>
						<div class="description description-preview"></div>
					</div>
				</div>

				<div class="clear"></div>



				<!-- Album Area
				============================================= -->
	<!-- Album Area
				============================================= -->
					<div class="section nobg footer-stick clearfix">
					<div class="container clearfix">
						<div class="heading-block dark center noborder">
							<h3 class="ls1">Albums</h3>
							<span></span>
						</div>
						<div class="row dark clearfix">
							<div class="col-sm-4 center">
								<a href="gallery sodtu.ejs">
									<div style="margin: 0 auto;max-width: 235px; padding: 25px; background: url('images/gallery/thumbnails/album-bg.svg') no-repeat center center; background-size: 100%;">
										<img src="images/gallery/thumbnails/23.jpg" alt="img01" style="" />
									</div>
									<h5 class="ls1 t400">Seniors Of DTU</h5>
								</a>
							</div>
							<div class="col-sm-4 center">
								<a href="gallery fodtu.ejs">
									<div style="margin: 0 auto;max-width: 235px; padding: 25px; background: url('images/gallery/thumbnails/album-bg.svg') no-repeat center center; background-size: 100%;">
										<img src="images/gallery/thumbnails/6.jpg" alt="img02" style="" />
									</div>
									<h5 class="ls1 t400">Fucchas Of DTU</h5>
								</a>
							</div>
							<div class="col-sm-4 center">
								<a href="gallery codtu.ejs">
									<div style="margin: 0 auto;max-width: 235px; padding: 25px; background: url('images/gallery/thumbnails/album-bg.svg') no-repeat center center; background-size: 100%;">
										<img src="images/gallery/thumbnails/3.jpg" alt="img03" style="" />
									</div>
									<h5 class="ls1 t400">DTU Campus</h5>
								</a>
							</div>
							<div class="col-sm-4 center">
								<a href="gallery fest.ejs">
									<div style="margin: 0 auto;max-width: 235px; padding: 25px; background: url('images/gallery/thumbnails/album-bg.svg') no-repeat center center; background-size: 100%;">
										<img src="images/gallery/thumbnails/2.jpg" alt="img04" style="" />
									</div>
									<h5 class="ls1 t400">Fests</h5>
								</a>
							</div>
							<div class="col-sm-4 center ">
								<a href="gallery godtu.ejs">
									<div style="margin: 0 auto;max-width: 235px; padding: 25px; background: url('images/gallery/thumbnails/album-bg.svg') no-repeat center center; background-size: 100%;">
										<img src="images/gallery/thumbnails/3_1.jpg" alt="img05" style="" />
									</div>
									<h5 class="ls1 t400">Guests</h5>
								</a>
							</div>
							<div class="col-sm-4 center ">
								<a href="gallery recent.ejs">
									<div style="margin: 0 auto;max-width: 235px; padding: 25px; background: url('images/gallery/thumbnails/album-bg.svg') no-repeat center center; background-size: 100%;">
										<img src="images/gallery/thumbnails/15.jpg" alt="img06" style="" />
									</div>
									<h5 class="ls1 t400">Recent Activities</h5>
								</a>
<!--							</div>
							<div class="col-sm-4 center ">
								<a href="#">
									<div style="margin: 0 auto;max-width: 235px; padding: 25px; background: url('images/gallery/thumbnails/album-bg.svg') no-repeat center center; background-size: 100%;">
										<img src="images/gallery/thumbnails/73.jpg" alt="img07" style="" />
									</div>
									<h5 class="ls1 t400">Miscellaneous</h5>
								</a>
							</div>
-->
						</div>
					</div>
				</div>
				<br>
				<br>
			</div>

			</div>

		</section><!-- #content end -->

		<div class="clear"></div>

		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark noborder clearfix" style="background-color: #282828">

			<!-- Copyrights
			============================================= -->
			<div id="copyrights" class="nobg">

				<div class="container clearfix">

					<div class="col_full center nobottommargin topmargin-sm">
						&copy; DTU Times 2017. All Rights Reserved.</br></br>
						<a href="http://facebook.com/dtutimes" target="_blank" class="social-icon inline-block si-small si-borderless si-rounded si-facebook">
							<i class="icon-facebook"></i>
							<i class="icon-facebook"></i>
						</a>

						<a href="http://instagram.com/dtu_times" target="_blank" class="social-icon inline-block si-small si-borderless si-rounded si-instagram">
							<i class="icon-instagram"></i>
							<i class="icon-instagram"></i>
						</a>
						<a href="mailto:dtutimes@dtu.ac.in" class="social-icon inline-block si-small si-borderless si-rounded si-gplus">
							<i class="icon-envelope2"></i>
							<i class="icon-envelope2"></i>
						</a>
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>
	<script src="js/photography-addons.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/functions.js"></script>

	<script>

    

		(function() {
			var support = { transitions: Modernizr.csstransitions },
				// transition end event name
				transEndEventNames = { 'WebkitTransition': 'webkitTransitionEnd', 'MozTransition': 'transitionend', 'OTransition': 'oTransitionEnd', 'msTransition': 'MSTransitionEnd', 'transition': 'transitionend' },
				transEndEventName = transEndEventNames[ Modernizr.prefixed( 'transition' ) ],
				onEndTransition = function( el, callback ) {
					var onEndCallbackFn = function( ev ) {
						if( support.transitions ) {
							if( ev.target != this ) return;
							this.removeEventListener( transEndEventName, onEndCallbackFn );
						}
						if( callback && typeof callback === 'function' ) { callback.call(this); }
					};
					if( support.transitions ) {
						el.addEventListener( transEndEventName, onEndCallbackFn );
					}
					else {
						onEndCallbackFn();
					}
				};

			new GridFx(document.querySelector('.grid'), {
				imgPosition : {
					x : -0.5,
					y : 1
				},
				onOpenItem : function(instance, item) {
					instance.items.forEach(function(el) {
						if(item != el) {
							var delay = Math.floor(Math.random() * 50);
							el.style.WebkitTransition = 'opacity .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1), -webkit-transform .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1)';
							el.style.transition = 'opacity .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1), transform .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1)';
							el.style.WebkitTransform = 'scale3d(0.1,0.1,1)';
							el.style.transform = 'scale3d(0.1,0.1,1)';
							el.style.opacity = 0;
						}
					});
				},
				onCloseItem : function(instance, item) {
					instance.items.forEach(function(el) {
						if(item != el) {
							el.style.WebkitTransition = 'opacity .4s, -webkit-transform .4s';
							el.style.transition = 'opacity .4s, transform .4s';
							el.style.WebkitTransform = 'scale3d(1,1,1)';
							el.style.transform = 'scale3d(1,1,1)';
							el.style.opacity = 1;

							onEndTransition(el, function() {
								el.style.transition = 'none';
								el.style.WebkitTransform = 'none';
							});
						}
					});
				}
			});
		})();

		jQuery(document).ready(function($) {
			var swiperSlider = $('.swiper-parent')[0].swiper;
			swiperSlider.enableKeyboardControl();
		});

	</script>

</body>
</html>