<h1>Category wise gallery page</h1>
<ul style="width:100%;height:100%;">
<% images.forEach(function(image){ %>
  
    <li style="width:25px; height:25px;"><img href="<%= image.url %>"></li>
    
    
<% }) %>
</ul>