<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <link rel="icon" href="images/logofav1.png" type="image/gif">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="Sandeep/Rajyavardhan" content="DTU Times" />
	<meta property="fb:pages" content="145561028808040" />
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111767284-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111767284-1');
</script>
	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Poppins:300,400,400italic,500,600,700" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="css/style.css" type="text/css" />
	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/swiper.css" type="text/css" />

	<!-- Photography Specific Stylesheet -->
	<link rel="stylesheet" href="css/photography.css" type="text/css" />
	<link rel="stylesheet" href="css/photography-addons.css" type="text/css" />
	<!-- / -->

	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/et-line.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="css/phot%20fonts.css" type="text/css" />

	<link rel="stylesheet" href="css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<link rel="stylesheet" href="css/colors.php?color=c85e51" type="text/css" />

	<!-- Document Title
	============================================= -->
	<title>DTU Times Gallery</title>

</head>

<body class="stretched ">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

	
		<!-- Header
		============================================= -->
			<header id="header" class="dark full-header sticky">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.ejs" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="images/dtulogo.png" alt="DTU Times Logo"></a>
						
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu">

						<ul>
							<li><a href="index.ejs"><div>Home</div></a>
							</li>
								
							<li class="mega-menu"><a href="about.ejs"><div>About Us</div></a>
                            </li>
								
				            <li class="mega-menu"><a href="editions.ejs"><div>Editions</div></a>
						    </li>
							                            <li><a href="blog.ejs"><div>Blog</div></a>
							</li>
				            
				            <li><a href="gallery.ejs"><div>Gallery</div></a>
							</li>
						    				
							<li><a href="team.ejs"><div>Team</div></a>
							</li>
                                                   <li><a href="dtu%20contact.ejs"><div>Contact Us</div></a>
							</li>
                                                    

				        </ul>

						

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->

		<!-- Slider
		============================================= -->
		<section id="slider" class="swiper_wrapper full-screen clearfix" data-loop="true" data-speed="1200" data-autoplay="5000">

			<div class="swiper-container swiper-parent">
				<div class="swiper-wrapper">
					<div class="swiper-slide dark" style="background-image: url('images/gallery/godtu/1.jpg');">
						<div class="container clearfix">
							<div class="slider-text">
								<h3>Maj. Gen. (Retd.) G.D. Bakshi </h3>
								<span></span>
							</div>
						</div>
					</div>
					<div class="swiper-slide dark" style="background-image: url('images/gallery/godtu/8.jpg');">
						<div class="container clearfix">
							<div class="slider-text">
								<h3>Nizami Bandhu</h3>
								<span></span>
							</div>
						</div>
					</div>
					<div class="swiper-slide dark" style="background-image: url('images/gallery/godtu/3.jpg')">
						<div class="container clearfix">
							<div class="slider-text">
								<h3>Sunidhi Chauhan</h3>
								<span></span>
							</div>
						</div>
					</div>
					<div class="swiper-slide dark" style="background-image: url('images/gallery/godtu/4.png');">
						<div class="container clearfix">
							<div class="slider-text">
								<h3>Piyush Mishra</h3>
								<span></span>
							</div>
						</div>
					</div>
					<div class="swiper-slide dark" style="background-image: url('images/gallery/godtu/13.jpg');">
						<div class="container clearfix">
							<div class="slider-text">
								<h3>Rishabh Seen</h3>
								<span></span>
							</div>
						</div>
					</div>
					<div class="swiper-slide dark" style="background-image: url('images/gallery/godtu/9.png');">
						<div class="container clearfix">
							<div class="slider-text">
								<h3>SHTUBY: Drum and Red</h3>
								<span></span>
							</div>
						</div>
					</div>
				</div>
				<div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
				<div id="slider-arrow-right"><i class="icon-angle-right"></i></div>
				<div id="slide-number"><div id="slide-number-current"></div><span></span><div id="slide-number-total"></div></div>
			</div>

			<a href="#" data-scrollto="#content" data-offset="0" class="dark one-page-arrow"><i class="icon-line-grid"></i></a>

		</section><!-- #Slider End -->

		<!-- Content
		============================================= -->
		<section id="content" class="clearfix">

			<div class="content-wrap">
				<div class="container dark clearfix">
					<div class="heading-block dark noborder">
						<h3 style="text-align:center;">Guests</h3>
						<span> Dignitaries that have visited DTU over the years</span>
					</div>

					<!-- Grid Items
					============================================= -->
					<div class="grid">


						




							<% images.forEach(function(image){ %>
  
								<div class="grid-item" data-size="1280x853">
										<a href="<%= image.url %>" class="img-wrap img-grayscale" data-animate="fadeInUp">
											<img src="<%= image.url %>"  />
											<div class="description description-grid">
												<h3><%= image.title %></h3>
												
												
											</div>
										</a>
									</div>
			
								
							<% }) %>



							
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/godtu/1.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/godtu/1.jpg" alt="img01" />
								<div class="description description-grid">
									<h3>Maj. Gen. (Retd.) G.D. Bakshi</h3>
									<p>
</p>
									<div class="details">

									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/godtu/2.png" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/godtu/2.png" alt="img02" />
								<div class="description description-grid">
									<h3>Markandey Katju</h3>
									<p>
DT: India courts have more than three crore cases pending before them. What can be done to improve this situation?
<br>
Justice Katju: The situation cannot be improved. In fact, it is going to get worse, since courts cannot cope with the burden. During my tenure in the Allahabad High Court, subordinate courts had anywhere between ten to thirty thousand pending cases, when the maximum allowed amount is three hundred! If a man can carry a hundred pounds of weight and an elephant is put on his head, he is bound to collapse.
 </p>
                                
                                                                                                                
                                                                                    
                                		<div class="details">
                                            
									</div>
								</div>
							
                               
								
								
								
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/godtu/3.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/godtu/3.jpg" alt="img03" />
								<div class="description description-grid">
									<h3>Sunidhi Chauhan</h3>
									<p> </p>
									<div class="details">
									
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/godtu/4.png" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/godtu/4.png" alt="img04" />
								<div class="description description-grid">
								
								<h6 href="#" ></h6>
									<h3>Piyush Mishra</h3>
									<p>
									डी.टी.: क्या आज की युवा पीढ़ी हिन्दी से, खासकर हिंदी कविता से दूर जाती जा रही है? इस परिस्थिति को कैसे सुधारा जा सकता है?
									<br>
पियूष: कठिनाई तो यह है कि हिंदी के लेखक कम हैं और जो हैं, उन्होंने लेखन में अपनी रुचि को सीमित कर रखा है। जहाँ तक हिंदी से दूरी की बात है, जब तक आपके लेखन में रचनात्मकता है, वह युवा हो या फिर उम्र-दराज़, आपको कभी पढ़ने-देखने-सुनने वालों की कमी नहीं होगी। गुलाल जैसी फिल्म, जो की एक वृहद हिंदी रचना है, उसको युवकों द्वारा खूब सराहा गया। यह इस बात का प्रमाण है कि लोग साहित्य की इज्जत करते हैं और महज अंग्रेजी भाषा के गुलाम नहीं हैं। किसी व्यक्ति का रुझान सिर्फ और सिर्फ इस बात पर निर्भर करता है कि आपके लेखन और लेखनी में कितना दम है।
 
</p>
                                

									<div class="details">

									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/godtu/5.png" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/godtu/5.png" alt="img05" />
								<div class="description description-grid">
									<h3>Grp. Capt. (Retd.) R. S. Bhola</h3>
									<p>
</p>
									<div class="details">
									
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/godtu/6.png" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/godtu/6.png" alt="img06" />
								<div class="description description-grid">
									<h3>Nucleya</h3>
									<p></p>
									<div class="details">
									
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/godtu/7.png" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/godtu/7.png" alt="img07" />
								<div class="description description-grid">
									<h3>Lagori</h3>
									<p>
									DT: As a band primarily from the South India, how does it feel to be performing in the North?
									<br>
Lagori: Honestly, it has been great. A few years back, we had never thought we’d be performing so many gigs in the North, but people here have been very good to us. They’ve accepted our music, and not only our Hindi tracks but also our Kannada tracks. This year, we’ve done more gigs in the North than in the South, and therefore it feels awesome.

</p>
									<div class="details">
									
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/godtu/8.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/godtu/8.jpg" alt="img08" />
								<div class="description description-grid">
									<h3>Nizami Bandhu</h3>
									<p>
</p>
									<div class="details">
									
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/godtu/10.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/godtu/10.jpg" alt="img09" />
								<div class="description description-grid">
									<h3>Monica Dogra</h3>
									<p>
</p>
									<div class="details">
										
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/godtu/9.png" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/godtu/9.png" alt="img10" />
								<div class="description description-grid">
									<h3>SHTUBY: Drum and Red</h3>
									<p>DT: How has your experience of India been so far?
									<br>
SHTUBY: We came to India three days ago, and the experience has been superb. Indian food is the best! Indian crowds are very similar to Israeli masses- people like to have fun and go crazy.
<br>
<br>
DT: Your music has a flavour of its own. What is the inspiration behind it?
<br>
SHTUBY: We draw our inspiration from the music of the world. We include jazz and rock and hard metal in our performance and don’t have a specific genre.


</p>
									<div class="details">
									
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/godtu/11.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/godtu/11.jpg" alt="img11" />
								<div class="description description-grid">
									<h3>Sanjay Singh</h3>
									<p>DT: The youth today is more career oriented. How would you rate Civil Services as a career option?<br>
SS: It’s a prestigious service because it involves helping people. Before you opt for it, you should be clear as to why you are going to do it. If you want to do something for the society and the nation as a whole rather than working moneywise, Civil Services is the right thing to choose.

</p>
									<div class="details">
									
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/godtu/12.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/godtu/12.jpg" alt="img12" />
								<div class="description description-grid">
									<h3>Gaurav Gera</h3>
									<p>
									DT: Sir, what was it like coming to DTU?<br>
Gera: Very nice indeed! I was wondering whether I had here before then I realised that I had never seen such a huge campus before! It’s nice and sunny and big and beautiful here with lots of activities happening too here and there.<br><br>
DT: Sir what was the inspiration behind your online series Shopkeeper and Chutki?<br>
Gera: I wanted to something on my own, something I could call exclusively mine. The characters you play on TV belong to the channel, not to you. I wanted rights over my content – and this happened for the first time in India, last year. I have licensed my own characters to radio and TV shows, and my show on 92.7 Big FM has moved to Dubai as well!

</p>
									<div class="details">
									
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/godtu/13.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/godtu/13.jpg" alt="img13" />
								<div class="description description-grid">
									<h3>Rishabh Seen</h3>
									<p>DT: What do you think is the way for anyone to overcome a barrier which puts Western music styles on a pedestal higher as compared to Indian classical music?<br>
RS: See, I believe no one does that intentionally. It is the culture we’ve been brought up in because of which we fantasize about western instruments. So all we try to do is focus on how we can bring a change. I can’t change anybody, but I can change myself and in that way, change the world around me.<br><br>
DT: Talking about change, if not music, then what?<br>
RS: (laughs) That’s a difficult one because I pretty much suck at everything else! I guess I’d be a writer because I have a lot to say.

</p>
									<div class="details">
										
									</div>
								</div>
							</a>
						</div>

						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/godtu/15.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/godtu/15.jpg" alt="img15" />
								<div class="description description-grid">
									<h3>Mukul Kanitkar</h3>
									<p>DT:हमारे देश में तकनीकी शिक्षा को कैसे सुधारा जा सकता है ?
<br>
MK:मेरा ऐसा मानना है की भारत की शिक्षा पद्धति पहले ही काफी उन्नत है, लेकिन हमारी अपेक्षाएँ उसके अनुकूल नहीं हैं। जैसे एक इंजीनियर अगर कॉलेज से डिग्री लेकर बाहर निकलता है, वो खुद का कारखाना खोल सकेगा यह निश्चित नहीं है क्योंकि उसने कभी खुद से काम नहीं किया। और सिर्फ उच्च स्तर पर ही नहीं, स्कूली शिक्षा से ही इस बात का ध्यान देना होगा। बच्चे जब दसवीं कक्षा के बाद विषय चुनते हैं, तो वह उनके पसंद का हो - तब ही शिक्षा प्रभावशाली होगी वर्ना भविष्य की स्थिति चिंतनीय हो जाएगी।

</p>
									<div class="details">
									
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/godtu/16.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/godtu/16.jpg" alt="img16" />
								<div class="description description-grid">
									<h3>Laxmi Agarwal</h3>
									<p> DT:How has your journey been while recovering from Acid Attack ?<br>
LA:Recovery isn't bound to Acid Attack, there are several things that get attached to it and hinder your functioning, but the key point is to keep looking at the brighter side of life and always having a positive outlook.<br><br>

What is your take on the limelight received by the social issues these days?<br>
Honestly, I find it very disturbing that these days every issue is getting highlighted irrespective of whether it deserves footage or not. People are just hitting the like button without considering the pros and cons of it.
</p>
									<div class="details">
									
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/godtu/17.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/godtu/17.jpg" alt="img17" />
								<div class="description description-grid">
									<h3>Prof Jatinder (Jeet) N. D. Gupta</h3>
									<p>DT:What was the best part of your college days in Delhi Polytechnic?<br>
ND:In those days, only 30 students were admitted in each discipline. It was easy to interact with everybody. The best part was to interact with people from all parts of the country. 
<br><br>
What advice would you give students on smoothing their transition from academia to industry?<br>
During my time at college, it was mandatory for us to have 275 days of industrial experience to complete our engineering degree. I did three industrial ventures. I would hence advise students to do internships or have some industrial experience. This would not only smoothen the transition but also give you a better idea of what excites you and where your interest lies.


</p>
									<div class="details">
								
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/godtu/18.png" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/godtu/18.png" alt="img18" />
								<div class="description description-grid">
									<h3>Prof. Chanan Singh</h3>
									<p>				


</p>
									<div class="details">
									
									</div>
								</div>
							</a>
						</div>

					</div>
					<!-- /grid -->
					<div class="preview">
						<button class="action action-close"><i class="icon-line2-close"></i><span class="text-hidden">Close</span></button>
						<div class="description description-preview"></div>
					</div>

				<div class="clear"></div>



				<!-- Album Area
				============================================= -->
	<!-- Album Area
				============================================= -->
			
  
		</section><!-- #content end -->
        	<section id="content" class="clearfix">

			<div class="content-wrap">


				<div class="clear"></div>


				<div class="clear"></div>

				<!-- Album Area
				============================================= -->
				<div class="section nobg footer-stick clearfix">
					<div class="container clearfix">
						<div class="heading-block dark center noborder">
							<h3 class="ls1">Albums</h3>
							<span></span>
						</div>
						<div class="row dark clearfix">
							<div class="col-sm-4 center">
								<a href="gallery sodtu.ejs">
									<div style="margin: 0 auto;max-width: 235px; padding: 25px; background: url('images/gallery/thumbnails/album-bg.svg') no-repeat center center; background-size: 100%;">
										<img src="images/gallery/thumbnails/23.jpg" alt="img01" style="" />
									</div>
									<h5 class="ls1 t400">Seniors Of DTU</h5>
								</a>
							</div>
							<div class="col-sm-4 center">
								<a href="gallery fodtu.ejs">
									<div style="margin: 0 auto;max-width: 235px; padding: 25px; background: url('images/gallery/thumbnails/album-bg.svg') no-repeat center center; background-size: 100%;">
										<img src="images/gallery/thumbnails/6.jpg" alt="img02" style="" />
									</div>
									<h5 class="ls1 t400">Fucchas Of DTU</h5>
								</a>
							</div>
							<div class="col-sm-4 center">
								<a href="gallery codtu.ejs">
									<div style="margin: 0 auto;max-width: 235px; padding: 25px; background: url('images/gallery/thumbnails/album-bg.svg') no-repeat center center; background-size: 100%;">
										<img src="images/gallery/thumbnails/3.jpg" alt="img03" style="" />
									</div>
									<h5 class="ls1 t400">DTU Campus</h5>
								</a>
							</div>
							<div class="col-sm-4 center">
								<a href="gallery fest.ejs">
									<div style="margin: 0 auto;max-width: 235px; padding: 25px; background: url('images/gallery/thumbnails/album-bg.svg') no-repeat center center; background-size: 100%;">
										<img src="images/gallery/thumbnails/2.jpg" alt="img04" style="" />
									</div>
									<h5 class="ls1 t400">Fests</h5>
								</a>
							</div>
							
							<div class="col-sm-4 center ">
								<a href="gallery recent.ejs">
									<div style="margin: 0 auto;max-width: 235px; padding: 25px; background: url('images/gallery/thumbnails/album-bg.svg') no-repeat center center; background-size: 100%;">
										<img src="images/gallery/thumbnails/15.jpg" alt="img06" style="" />
									</div>
									<h5 class="ls1 t400">Recent Activities</h5>
								</a>
							</div>
		<!--							</div>
							<div class="col-sm-4 center ">
								<a href="#">
									<div style="margin: 0 auto;max-width: 235px; padding: 25px; background: url('images/gallery/thumbnails/album-bg.svg') no-repeat center center; background-size: 100%;">
										<img src="images/gallery/thumbnails/73.jpg" alt="img07" style="" />
									</div>
									<h5 class="ls1 t400">Miscellaneous</h5>
								</a>
							</div>
-->
	                     
						</div>
					</div>
				</div>
				<br>
                            <br>
			</div>

		</section><!-- #content end -->

		<div class="clear"></div>

		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark noborder clearfix" style="background-color: #282828">

			<!-- Copyrights
			============================================= -->
			<div id="copyrights" class="nobg">

				<div class="container clearfix">

					<div class="col_full center nobottommargin topmargin-sm">
						&copy; DTU Times 2017. All Rights Reserved.<br><br>
						<a href="http://facebook.com/dtutimes" target="_blank" class="social-icon inline-block si-small si-borderless si-rounded si-facebook">
							<i class="icon-facebook"></i>
							<i class="icon-facebook"></i>
						</a>

						<a href="http://instagram.com/dtu_times" target="_blank" class="social-icon inline-block si-small si-borderless si-rounded si-instagram">
							<i class="icon-instagram"></i>
							<i class="icon-instagram"></i>
						</a>
						<a href="mailto:dtutimes@dtu.ac.in" class="social-icon inline-block si-small si-borderless si-rounded si-gplus">
							<i class="icon-envelope2"></i>
							<i class="icon-envelope2"></i>
						</a>
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>
	<script src="js/photography-addons.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/functions.js"></script>

	<script>


		(function() {
			var support = { transitions: Modernizr.csstransitions },
				// transition end event name
				transEndEventNames = { 'WebkitTransition': 'webkitTransitionEnd', 'MozTransition': 'transitionend', 'OTransition': 'oTransitionEnd', 'msTransition': 'MSTransitionEnd', 'transition': 'transitionend' },
				transEndEventName = transEndEventNames[ Modernizr.prefixed( 'transition' ) ],
				onEndTransition = function( el, callback ) {
					var onEndCallbackFn = function( ev ) {
						if( support.transitions ) {
							if( ev.target != this ) return;
							this.removeEventListener( transEndEventName, onEndCallbackFn );
						}
						if( callback && typeof callback === 'function' ) { callback.call(this); }
					};
					if( support.transitions ) {
						el.addEventListener( transEndEventName, onEndCallbackFn );
					}
					else {
						onEndCallbackFn();
					}
				};

			new GridFx(document.querySelector('.grid'), {
				imgPosition : {
					x : -0.5,
					y : 1
				},
				onOpenItem : function(instance, item) {
					instance.items.forEach(function(el) {
						if(item != el) {
							var delay = Math.floor(Math.random() * 50);
							el.style.WebkitTransition = 'opacity .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1), -webkit-transform .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1)';
							el.style.transition = 'opacity .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1), transform .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1)';
							el.style.WebkitTransform = 'scale3d(0.1,0.1,1)';
							el.style.transform = 'scale3d(0.1,0.1,1)';
							el.style.opacity = 0;
						}
					});
				},
				onCloseItem : function(instance, item) {
					instance.items.forEach(function(el) {
						if(item != el) {
							el.style.WebkitTransition = 'opacity .4s, -webkit-transform .4s';
							el.style.transition = 'opacity .4s, transform .4s';
							el.style.WebkitTransform = 'scale3d(1,1,1)';
							el.style.transform = 'scale3d(1,1,1)';
							el.style.opacity = 1;

							onEndTransition(el, function() {
								el.style.transition = 'none';
								el.style.WebkitTransform = 'none';
							});
						}
					});
				}
			});
		})();

		jQuery(document).ready(function($) {
			var swiperSlider = $('.swiper-parent')[0].swiper;
			swiperSlider.enableKeyboardControl();
		});

	</script>

</body>
</html>