<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <link rel="icon" href="images/logofav1.png" type="image/gif">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="Sandeep/Rajyavardhan" content="DTU Times" />
	<meta property="fb:pages" content="145561028808040" />
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111767284-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111767284-1');
</script>
	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Poppins:300,400,400italic,500,600,700" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="css/style.css" type="text/css" />
	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/swiper.css" type="text/css" />

	<!-- Photography Specific Stylesheet -->
	<link rel="stylesheet" href="css/photography.css" type="text/css" />
	<link rel="stylesheet" href="css/photography-addons.css" type="text/css" />
	<!-- / -->

	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/et-line.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="css/phot%20fonts.css" type="text/css" />

	<link rel="stylesheet" href="css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<link rel="stylesheet" href="css/colors.php?color=c85e51" type="text/css" />

	<!-- Document Title
	============================================= -->
	<title>DTU Times Gallery</title>

</head>


<body class="stretched ">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

	
		<!-- Header
		============================================= -->
			<header id="header" class="dark full-header sticky">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.ejs" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="images/dtulogo.png" alt="DTU Times Logo"></a>
						
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
		<nav id="primary-menu">

						<ul>
							<li><a href="index.ejs"><div>Home</div></a>
							</li>
								
							<li class="mega-menu"><a href="about.ejs"><div>About Us</div></a>
                            </li>
								
				            <li class="mega-menu"><a href="editions.ejs"><div>Editions</div></a>
						    </li>
							                            <li><a href="blog.ejs"><div>Blog</div></a>
							</li>
				            
				            <li><a href="gallery.ejs"><div>Gallery</div></a>
							</li>
						    				
							<li><a href="team.ejs"><div>Team</div></a>
							</li>
                                                   <li><a href="dtu%20contact.ejs"><div>Contact Us</div></a>
							</li>
                                                    

				        </ul>

						

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->

		<!-- Slider
		============================================= -->
		<section id="slider" class="swiper_wrapper full-screen clearfix" data-loop="true" data-speed="1200" data-autoplay="5000">

			<div class="swiper-container swiper-parent">
				<div class="swiper-wrapper">
					<div class="swiper-slide dark" style="background-image: url('images/gallery/fodtu/1.jpg');">
						<div class="container clearfix">
							<div class="slider-text">
								<h3>THE WANDERER OF DTU</h3>
								<span></span>
							</div>
						</div>
					</div>
					<div class="swiper-slide dark" style="background-image: url('images/gallery/fodtu/14.jpg');">
						<div class="container clearfix">
							<div class="slider-text">
								<h3>THE NOT-SO-STUDIOUS OF DTU</h3>
								<span></span>
							</div>
						</div>
					</div>
					<div class="swiper-slide dark" style="background-image: url('images/gallery/fodtu/3.jpg')">
						<div class="container clearfix">
							<div class="slider-text">
								<h3>THE PRANKSTERS OF DTU</h3>
								<span></span>
							</div>
						</div>
					</div>
					<div class="swiper-slide dark" style="background-image: url('images/gallery/fodtu/4.jpg');">
						<div class="container clearfix">
							<div class="slider-text">
								<h3>THE DISENCHANTED OF DTU</h3>
								<span></span>
							</div>
						</div>
					</div>
					<div class="swiper-slide dark" style="background-image: url('images/gallery/fodtu/13.jpg');">
						<div class="container clearfix">
							<div class="slider-text">
								<h3>THE REGGAE MAESTRO OF DTU</h3>
								<span></span>
							</div>
						</div>
					</div>
					<div class="swiper-slide dark" style="background-image: url('images/gallery/fodtu/9.jpg');">
						<div class="container clearfix">
							<div class="slider-text">
								<h3>THE INTERNATIONAL STARS</h3>
								<span></span>
							</div>
						</div>
					</div>
				</div>
				<div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
				<div id="slider-arrow-right"><i class="icon-angle-right"></i></div>
				<div id="slide-number"><div id="slide-number-current"></div><span></span><div id="slide-number-total"></div></div>
			</div>

			<a href="#" data-scrollto="#content" data-offset="0" class="dark one-page-arrow"><i class="icon-line-grid"></i></a>

		</section><!-- #Slider End -->

		<!-- Content
		============================================= -->
		<section id="content" class="clearfix">

			<div class="content-wrap">
				<div class="container dark clearfix">
					<div class="heading-block dark center noborder">
						<h3>Recent Images</h3>
						<span></span>
					</div>

					<!-- Grid Items
					============================================= -->
					<div class="grid">
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/fodtu/1.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/fodtu/1.jpg" alt="img01" />
								<div class="description description-grid">
									<h3>THE WANDERER OF DTU</h3>
									<p>Ever been lost in campus?
“When do I not get lost! The campus is so huge, half your time is spent lazily looking for classes, and you’re asleep before you get home!” 

<span></span></p>
									<div class="details">

									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/fodtu/2.JPG" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/fodtu/2.JPG" alt="img02" />
								<div class="description description-grid">
									<h3>THE BACKBENCHERS OF DTU FT. THE PLAYER</h3>
									<p>“We're backbenchers, so all our time is spent figuring out what's going on in class. Then suddenly, the professor is calling us to the blackboard, while we stare back at him, bewildered!”

“The ratio is a problem, though.”
“Rehne de! You point to any girl in the campus and our friend here can provide her bio data. He knows it all by heart.”

</p>
									<div class="details">

									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/fodtu/3.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/fodtu/3.jpg" alt="img03" />
								<div class="description description-grid">
									<h3>THE PRANKSTERS OF DTU</h3>
									<p>"We were chilling at NightC when a couple of Treasure Hunt teams rushed to our table and asked if we had the clue. We passed them a note, asking them not to open it.”
“What did it read?”
"You have been duped!"
 </p>
									<div class="details">
									
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/fodtu/4.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/fodtu/4.jpg" alt="img04" />
								<div class="description description-grid">
									<h3>THE DISENCHANTED OF DTU</h3>
									<p>“Our first day in University started with E.D. lab. Sad!”
“You know what else is sad? The fact that the DTU Lake is called a lake. It's hardly bigger than a pool!”

</p>
									<div class="details">

									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/fodtu/5.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/fodtu/5.jpg" alt="img05" />
								<div class="description description-grid">
									<h3>THE PARTY ANIMALS OF DTU</h3>
									<p>“I had heard that the unofficial freshers were the most happening parties in the University.”
How were they?
“Expectations-SHATTERED!”


</p>
									<div class="details">
									
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/fodtu/6.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/fodtu/6.jpg" alt="img06" />
								<div class="description description-grid">
									<h3>THE ATTENTIVE OF DTU</h3>
									<p>The classes are so large, the professors' voices seldom reach beyond the first few rows! It's like there's a secret meeting going on right in front!”</p>
									<div class="details">
									
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/fodtu/7.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/fodtu/7.jpg" alt="img07" />
								<div class="description description-grid">
									<h3>BTs OF DTU</h3>
									<p>“Our branch might be BT, but when it comes to attendance, we hope we’re not in for a BT!”
</p>
									<div class="details">
									
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/fodtu/8.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/fodtu/8.jpg" alt="img08" />
								<div class="description description-grid">
									<h3> THE INTERNATIONAL STARS OF DTU | Part 1</h3>
									<p>DT: Thoughts about DTU?
A: We were welcomed by security officers at the gate, and they assisted us to the Transit Hostel. Earlier during lectures, the accent was a hurdle but now we are getting used to it. The food seemed too spicy in the beginning but then…. We’re managing!!
When we were applying for education abroad, India was on the top of our list because it is a training ground for the engineers. The facilities here are great, and there are labs for almost all courses possible. I can proudly say that I've joined DTU to pursue my dreams.

DT: One thing you like about DTU?
A: I like the fact that the books in the bookstore are available second hand and at affordable prices. Back in Africa, the prices are too high.

</p>
									<div class="details">
									
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/fodtu/9.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/fodtu/9.jpg" alt="img09" />
								<div class="description description-grid">
									<h3>THE INTERNATIONAL STARS OF DTU | Part 2</h3>
									<p>DT: How are you finding Delhi?
A: Oh we went exploring Delhi in the metro. We deboarded at Rajiv Chowk. The station was crowded, but the place was good. It was an eye opener compared to the places I'd seen here. When we went out to eat, we ordered and they said the payable amount was around 150, but on adding taxes turned into 250!

DT: What about the local cuisine, have you tried any?

A: There's this orange circular thing, a desert..." *Jalebi?* 
Yes, that's right! Too sweet like the Gulab Jamun."
Too spicy or too sweet!

DT: So have you familiarised yourselves with the metro stations?"
A: Yeah, sort of. This one metro was coming to vishV- what was it? 

DT: Vishwavidyalaya?
A: Yes, yes. And before we knew, we were going back in the direction we had been coming from.

</p>
									<div class="details">
										
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/fodtu/10.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/fodtu/10.jpg" alt="img10" />
								<div class="description description-grid">
									<h3>THE MIXED BAG OF DTU</h3>
									<p>“Over the past few days, we’ve failed to crack the cryptic room numbers, been advised to stay away from the lake and attended an intimidatingly tiring welding workshop.”

“We did expect a dynamic campus, and that is exactly what we got!”

</p>
									<div class="details">
									
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/fodtu/12.png" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/fodtu/12.png" alt="img11" />
								<div class="description description-grid">
									<h3>THE FRESHERS OF DSM</h3>
									<p>“While we struggle to find classrooms, we're enjoying the atmosphere here, and love how social everyone is.”
“I was once asked which year I was from. I replied, "First year. MBA." Have been called "Ma'am" ever since!” 

</p>
									<div class="details">
									
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/fodtu/11.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/fodtu/11.jpg" alt="img12" />
								<div class="description description-grid">
									<h3>THE MIXED BAG OF DTU</h3>
									<p>“Over the past few days, we’ve failed to crack the cryptic room numbers, been advised to stay away from the lake and attended an intimidatingly tiring welding workshop.”

“We did expect a dynamic campus, and that is exactly what we got!”

</p>
									<div class="details">
									
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/fodtu/13.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/fodtu/13.jpg" alt="img13" />
								<div class="description description-grid">
									<h3>THE REGGAE MAESTRO OF DTU</h3>
									<p>"Life in Delhi School of Management, DTU is great. Today, I brought my guitar to the University for the first time to jam with my friends."

The story behind the hair?
"It's a seven-year long fable. It does require a lot of maintenance, though."

</p>
									<div class="details">
										
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/fodtu/14.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/fodtu/14.jpg" alt="img14" />
								<div class="description description-grid">
									<h3>THE NOT-SO-STUDIOUS OF DTU</h3>
									<p>“We thought we wouldn’t have to study once we get into University, but we ended up in a really studious batch. 21 students turned up in class even on a holiday!”

“The campus is huge. The lake isn’t a lake, though, and we know there’s a Wind Tunnel somewhere, but we can’t seem to find it!”

</p>
									<div class="details">
										
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/fodtu/15.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/fodtu/15.jpg" alt="img15" />
								<div class="description description-grid">
									<h3>THE GLOBAL SCHOLAR OF DTU</h3>
									<p>"Coming from Ethiopia, adapting here becomes so easy because the people are all educated and very helpful!"

Best thing about the campus? 
"Undoubtedly, spending Sunday afternoons at the OAT benches."
</p>
									<div class="details">
									
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/fodtu/16.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/fodtu/16.jpg" alt="img16" />
								<div class="description description-grid">
									<h3>DTU Times interviewed the Ms. DTU East Campus.</h3>
									<p>DT: Congratulations! How does it feel to be the first ever Ms. DTU East Campus?
M: It’s indeed amazing. I had absolutely noexpectation of winning the title. I will never forget the moment when my name was announced on the stage. 

DT: What was your first impression of the East Campus and its life?
M: To be a part of the first batch of the East Campus is in itself overwhelming. The campus is beautiful and my peers are motivated individuals.
 </p>
									<div class="details">
									
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/fodtu/17.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/fodtu/17.jpg" alt="img17" />
								<div class="description description-grid">
									<h3>डी टी यू टाइम्स ने व्यवस्थाक राव कुशाग्र यादव का साक्षात्कार किया और बदले में उन्होंने एक सुन्दर कृति भेंट करी।</h3>
									<p>पूर्वी दिल्ली का यह प्रांगण जिसमे हर चीज़ मुझे मिली हैं,
वो कैंपस जहाँ ऐसे लोग हैं, जो वक़्त बनाना ही नहीं, चलाना भी जानते हैं।
ये वह लोग हैं, जो कहते हैं, और करके दिखाते हैं।
पचहत्तर साल का काफिया है, 
जो आप ले कर चले आये हैं,
और बच्चों का भविष्य बनाने के लिए,
खुद को न्योछावर कर देते हैं।
यहाँ हर शिक्षक-छात्र बहुत कुछ कर रहे हैं, 
और हर इंसान का ये रूप निहार रहे हैं।
ये बना रहे हर किसी के लिए एक नया आसमान, 
वक़्त की फ़रमान के लिए,
दुआओं के प्रमाण के लिए।
न जाने कौन कब कहा तक क्या कह पायेगा
ये क्षेत्र मेरे जीवन में, जीवन भर के लिए बस जाएगा।

</p>
									<div class="details">
								
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/fodtu/18.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/fodtu/18.jpg" alt="img18" />
								<div class="description description-grid">
									<h3>Bhumika Mathur, EP on her experience through the freshers' contest. </h3>
									<p>DT: What made you apply for the contest?
I consider myself an optimist and a happy-go-lucky girl, and I love exploring stuff and meeting new people. So I was anyway willing to apply but my friends really encouraged me to do it. They got me the form and supported me throughout.
DT: Have you noticed any difference since you became Ms. Fresher? 
Definitely. Random people were saying “Yes, she is Ms. Fresher”, on my face and my WhatsApp was flooded. Someone even made a fan account for me on Instagram! I was so shocked.

</p>
									<div class="details">
									
									</div>
								</div>
							</a>
						</div>
						<div class="grid-item" data-size="1280x853">
							<a href="images/gallery/fodtu/19.jpg" class="img-wrap img-grayscale" data-animate="fadeInUp">
								<img src="images/gallery/fodtu/19.jpg" alt="img19" />
								<div class="description description-grid">
									<h3>Gitesh Gupta, EP on his experience through the freshers' contest. </h3>
									<p>DT: What made you participate in this contest? 
GG: I had never participated in any extra curriculars in school and when I saw this opportunity I just wanted to grab it. I thought it might be fun and I wasn’t disappointed. I was really moved by the overwhelming support of my friends. After the result all of them lifted me up and cheered for me which was really a wonderful experience. 
DT: Have you noticed any differences after winning?
GG: The change has been awesome. I have gained popularity among other students and also got several new friend requests on Facebook just as soon as I won.
</p>
									<div class="details">
										
									</div>
								</div>
							</a>
						</div>
					</div>
					<!-- /grid -->
					<div class="preview">
						<button class="action action-close"><i class="icon-line2-close"></i><span class="text-hidden">Close</span></button>
						<div class="description description-preview"></div>
					</div>
				</div>

				<div class="clear"></div>



				<!-- Album Area
				============================================= -->
	<!-- Album Area
				============================================= -->
				</div>
    
		</section><!-- #content end -->

        	<section id="content" class="clearfix">

			<div class="content-wrap">


				<div class="clear"></div>


				<div class="clear"></div>

				<!-- Album Area
				============================================= -->
				<div class="section nobg footer-stick clearfix">
					<div class="container clearfix">
						<div class="heading-block dark center noborder">
							<h3 class="ls1">Albums</h3>
							<span></span>
						</div>
						<div class="row dark clearfix">
							<div class="col-sm-4 center">
								<a href="gallery sodtu.ejs">
									<div style="margin: 0 auto;max-width: 235px; padding: 25px; background: url('images/gallery/thumbnails/album-bg.svg') no-repeat center center; background-size: 100%;">
										<img src="images/gallery/thumbnails/23.jpg" alt="img01" style="" />
									</div>
									<h5 class="ls1 t400">Seniors Of DTU</h5>
								</a>
							</div>
							
							<div class="col-sm-4 center">
								<a href="gallery codtu.ejs">
									<div style="margin: 0 auto;max-width: 235px; padding: 25px; background: url('images/gallery/thumbnails/album-bg.svg') no-repeat center center; background-size: 100%;">
										<img src="images/gallery/thumbnails/3.jpg" alt="img03" style="" />
									</div>
									<h5 class="ls1 t400">DTU Campus</h5>
								</a>
							</div>
							<div class="col-sm-4 center">
								<a href="gallery fest.ejs">
									<div style="margin: 0 auto;max-width: 235px; padding: 25px; background: url('images/gallery/thumbnails/album-bg.svg') no-repeat center center; background-size: 100%;">
										<img src="images/gallery/thumbnails/2.jpg" alt="img04" style="" />
									</div>
									<h5 class="ls1 t400">Fests</h5>
								</a>
							</div>
							<div class="col-sm-4 center topmargin-sm">
								<a href="gallery godtu.ejs">
									<div style="margin: 0 auto;max-width: 235px; padding: 25px; background: url('images/gallery/thumbnails/album-bg.svg') no-repeat center center; background-size: 100%;">
										<img src="images/gallery/thumbnails/3_1.jpg" alt="img05" style="" />
									</div>
									<h5 class="ls1 t400">Guests</h5>
								</a>
							</div>
							<div class="col-sm-4 center topmargin-sm">
								<a href="gallery recent.ejs">
									<div style="margin: 0 auto;max-width: 235px; padding: 25px; background: url('images/gallery/thumbnails/album-bg.svg') no-repeat center center; background-size: 100%;">
										<img src="images/gallery/thumbnails/15.jpg" alt="img06" style="" />
									</div>
									<h5 class="ls1 t400">Recent Activities</h5>
								</a>
							</div>
		<!--							</div>
							<div class="col-sm-4 center ">
								<a href="#">
									<div style="margin: 0 auto;max-width: 235px; padding: 25px; background: url('images/gallery/thumbnails/album-bg.svg') no-repeat center center; background-size: 100%;">
										<img src="images/gallery/thumbnails/73.jpg" alt="img07" style="" />
									</div>
									<h5 class="ls1 t400">Miscellaneous</h5>
								</a>
							</div>
-->
	
						</div>
					</div>
				</div>
			</div>

		</section><!-- #content end -->


		<div class="clear"></div>

		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark noborder clearfix" style="background-color: #282828">

			<!-- Copyrights
			============================================= -->
			<div id="copyrights" class="nobg">

				<div class="container clearfix">

					<div class="col_full center nobottommargin topmargin-sm">
						&copy; DTU Times 2017. All Rights Reserved.<br><br>
						<a href="http://facebook.com/dtutimes" target="_blank" class="social-icon inline-block si-small si-borderless si-rounded si-facebook">
							<i class="icon-facebook"></i>
							<i class="icon-facebook"></i>
						</a>

						<a href="http://instagram.com/dtu_times" target="_blank" class="social-icon inline-block si-small si-borderless si-rounded si-instagram">
							<i class="icon-instagram"></i>
							<i class="icon-instagram"></i>
						</a>
						<a href="mailto:dtutimes@dtu.ac.in" class="social-icon inline-block si-small si-borderless si-rounded si-gplus">
							<i class="icon-envelope2"></i>
							<i class="icon-envelope2"></i>
						</a>
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>
	<script src="js/photography-addons.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/functions.js"></script>

	<script>


		(function() {
			var support = { transitions: Modernizr.csstransitions },
				// transition end event name
				transEndEventNames = { 'WebkitTransition': 'webkitTransitionEnd', 'MozTransition': 'transitionend', 'OTransition': 'oTransitionEnd', 'msTransition': 'MSTransitionEnd', 'transition': 'transitionend' },
				transEndEventName = transEndEventNames[ Modernizr.prefixed( 'transition' ) ],
				onEndTransition = function( el, callback ) {
					var onEndCallbackFn = function( ev ) {
						if( support.transitions ) {
							if( ev.target != this ) return;
							this.removeEventListener( transEndEventName, onEndCallbackFn );
						}
						if( callback && typeof callback === 'function' ) { callback.call(this); }
					};
					if( support.transitions ) {
						el.addEventListener( transEndEventName, onEndCallbackFn );
					}
					else {
						onEndCallbackFn();
					}
				};

			new GridFx(document.querySelector('.grid'), {
				imgPosition : {
					x : -0.5,
					y : 1
				},
				onOpenItem : function(instance, item) {
					instance.items.forEach(function(el) {
						if(item != el) {
							var delay = Math.floor(Math.random() * 50);
							el.style.WebkitTransition = 'opacity .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1), -webkit-transform .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1)';
							el.style.transition = 'opacity .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1), transform .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1)';
							el.style.WebkitTransform = 'scale3d(0.1,0.1,1)';
							el.style.transform = 'scale3d(0.1,0.1,1)';
							el.style.opacity = 0;
						}
					});
				},
				onCloseItem : function(instance, item) {
					instance.items.forEach(function(el) {
						if(item != el) {
							el.style.WebkitTransition = 'opacity .4s, -webkit-transform .4s';
							el.style.transition = 'opacity .4s, transform .4s';
							el.style.WebkitTransform = 'scale3d(1,1,1)';
							el.style.transform = 'scale3d(1,1,1)';
							el.style.opacity = 1;

							onEndTransition(el, function() {
								el.style.transition = 'none';
								el.style.WebkitTransform = 'none';
							});
						}
					});
				}
			});
		})();

		jQuery(document).ready(function($) {
			var swiperSlider = $('.swiper-parent')[0].swiper;
			swiperSlider.enableKeyboardControl();
		});

	</script>

</body>
</html>